.container {
  margin: auto;
  width: 60%;
  height: calc(100vh - 50px);
  position: relative;
  top: 50px;
  display: flex;
}

.info-nav {
  background-color: rgb(158, 158, 158);
  width: 30%;
  height: 100%;
  padding: 20px 0;
}

.info {
  background-color: green;
  width: 70%;
  height: 100%;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  padding: 15px;
  width: 100%;
  background-color: white;
  transition: background-color 0.2s ease-out;
}

.nav-list li:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}