.main-content {
  padding: 50px;
}

.live {
  display: flex;
  height: calc(80vh);
  margin-bottom: calc(20vh);
}

.live__player {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  background-color: rgb(31, 30, 30);
  border-radius: 10px;
}

.live__player:hover {
  cursor: pointer;
}

.live__list {
  width: 360px;
  overflow: hidden;
}

.live__list:hover {
  overflow-y: scroll;
}


.live__item {
  height: 20%;
  background-color: rgb(31, 30, 30);
  border-radius: 5px;
  margin: 0 10px 10px 20px;
}
.live__item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.live__item:first-child {
  border: 4px solid var(--secondary-color);
}

.popular-channels,
.recommend,
.category {
  margin-left: 20px;
  padding-bottom: 20px;
}

.list {
  display: flex;
  overflow-x: hidden;
}

.list:hover {
  overflow-x: auto;
}

.video {
  height: 175px;
  line-height: 175px;
  min-width: 300px;
  margin: 15px;
  background-color: rgb(31, 30, 30);
  border-radius: 5px;
}

.category-item {
  height: 250px;
  min-width: 175px;
  background-color: yellow;
  margin: 15px;
  border-radius: 5px;
}

.avatar {
  min-width: 100px;
  height: 100px;
  margin: 30px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.quick-nav-channel__list {
  padding-top: 20px;
}

.channel-item {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.hoverable-item:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: white;
}

::-webkit-scrollbar-track {
  background: rgb(151, 149, 149);
  border-radius: 10px;
  margin: 0 40px;
}

::-webkit-scrollbar-thumb {
  background: rgb(204, 202, 202);
  border-radius: 10px;
}