
.interact-zone {
  display: flex;
  
  height: calc(80vh);
}

.stream-player {
  width: 72%;
  height: 100%;
  background-color: black;
}

.chat-box {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-box {
  margin-left: 20px;
}
.chat-box__header {
  color: #333;
  height: 100px;
  background-color: rgb(240, 236, 236);
}
.chat-box__container {
  color: #333;
  flex: 1;
}
.chat-box__enter-chat {
  color: #333;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chat-box__input {
  flex: 1;
  height: 30px;
  border: 1px solid #999;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
  margin-right: 10px;
  line-height: 50px;
  font-size: 16px;
  outline: none;
}
.btn-send {
  width: 150px;
  height: 30px;
  background-color: rgb(26, 148, 255);
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}
.title-and-donate {
  width: 100%;
  height: 100px;
  background-color: gray;
}