.video-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.video-container:hover .control {
  visibility: visible;
}

.video-playing {
  height: 100%;
}

.control {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  visibility: hidden;
}

.play-and-volume,
.func-and-full-screen {
  padding: 5px 10px;
}

.play-and-volume button,
.func-and-full-screen button {
  margin: 5px;
}

.control button {
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}