:root {
  --primary-color: rgb(26, 148, 255);
  --primary-color-rgba: rgba(26, 148, 255, 0.5);
  --secondary-color: rgb(22, 124, 212);
  --hover-color: rgb(19, 110, 190);
  --white-color: rgb(255, 255, 255);

  --text-color: rgb(51, 51, 51);
  --sub-text-color: #12121299;
  --sub-white-text-color: #ffffff99;
  --border-color: rgba(219, 219, 219, 0.859);
  --background-color: rgb(250, 250, 250);
  

  /* THEME BLACK */
  --theme-black: rgb(29, 29, 29);
  --black-color: rgb(0, 0, 0);
  --sub-primary-color: rgb(29, 29, 29);
  --text-color-white: rgb(219, 219, 219);
  --border-color-black: rgb(63, 63, 63);
}

* {
  margin: 0;
  box-sizing: inherit;
}

html {
  /* Hack font size 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* 
.grid {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto; 
}

.gird__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
.row__size {
  padding: 0 36px;
} */


/* ANIMATION */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

a {
  text-decoration: none;
}

/* customize */
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #0E0E10;
  border-radius: 5px;
}


/* header */
.header {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  display: flex;
  background-color: var(--text-color);
  box-shadow: 0 3px 3px rgb(0 0 0 / 20%);
}
.header__logo {
  width: 100px;
  height: 100%;
  background-color: var(--text-color);
}
.header__events-and-tournaments {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--text-color);
}

.header__events-and-tournaments a {
  color: var(--white-color);
  font-size: 1.875em;
  font-weight: bold;
  transition: color 0.1s ease-out;
}

.header__events-and-tournaments a:hover {
  color: var(--hover-color);
}

/* SEARCH */
.header__search {
  background-color: var(--text-color);
  min-width: 200px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search-input {
  border: 0;
  border-radius: 5px 0 0 5px;
  height: 60%;
  width: 50%;
  padding: 0 10px;
}
.header__search-input:focus {
  outline: 2px solid var(--hover-color);
}
.header__search-button {
  border-radius: 0 5px 5px 0;
  color: white;
  background-color: rgb(22, 124, 212);
}

/* LOGIN - SIGN UP */
.header__user {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--text-color);
}

.header__user--right {
  margin-right: 20px;
  justify-content: flex-end !important;
}

.header__user-login-button,
.header__user-signup-button {
  min-width: 100px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.header__user-login-button {
  background-color: white;
  color: var(--text-color);
  transition: all 0.1s ease-out;
}
.header__user-login-button:hover {
  background-color: rgb(219, 219, 219);
}
.header__user-signup-button {
  background-color: var(--secondary-color);
}

.header__user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}

.header__user-avatar:hover {
  transform: scale(1.05);
}

/* side nav*/
.side-nav {
  position: fixed;
  top: 50px;
  height: 100vh;
  width: 75px;
  border-radius: 0 5px 5px 0;
  background-color: rgb(65, 65, 65);
  box-shadow: 1px 0 3px rgb(0 0 0 / 20%);
}

.side-nav__channel-list {
  padding-top: 20px;
}

.side-nav__channel-item {
  width: 50px;
  height: 50px;
  margin: 10px auto; 
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s;
}

.side-nav__channel-item:hover {
  transform: scale(1.05);
}

/* Style BTN */
.style-btn-normal {
  height: 60%;
  padding: 5px;
  border: 0;
  cursor: pointer;
}

.style-btn-hover {
  transition: background-color 0.1s ease-out;
}

.style-btn-hover:hover {
  background-color: var(--hover-color);
}

/* chat channel */

.chat-container {
  width: 100%;
  height: 100%;
  box-shadow: -1px 0 3px rgb(0 0 0 / 20%);
}

.chat-header {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.top-donate {
  width: 100%;
  height: 15%;
  background-color: red;
}

.chat-content {
  width: 100%;
  height: 65%;
  background-color: green;
}

.chat-footer {
  width: 100%;
  height: 12%;
  padding: 10px;
}

.chat-footer__input-message {
  width: 100%;
  height: 3em;
  resize: none;
  outline: none;
}

.chat-footer__operation {
  display: flex;
  justify-content: space-between;
}

.chat-footer__send-btn {
  color: var(--white-color);
  font-weight: bold;
  background-color: var(--primary-color);
}

/* style video container */

.video-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.video-container:hover .control {
  visibility: visible;
}

.video-playing {
  height: 100%;
}

.control {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  visibility: hidden;
}

.play-and-volume,
.func-and-full-screen {
  padding: 5px 10px;
}

.play-and-volume button,
.func-and-full-screen button {
  margin: 5px;
}

.control button {
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}

.btn-navbar-item {
  border: 1px solid var(--border-color-black);
  color: rgb(197, 197, 197);
  background-color: transparent;
  border-radius: 3px;
  padding: 6px 16px;
  margin: 0 4px;
}
.btn-navbar-item.active {
  border: 1px solid var(--white-color);
  /* color: white; */
  /* font-weight: 600; */
}