:root {
  --primary-color: rgb(26, 148, 255);
  --primary-color-rgba: rgba(26, 148, 255, 0.5);
  --secondary-color: rgb(22, 124, 212);
  --sub-primary-color: #1e1e1e;
  --hover-color: rgb(19, 110, 190);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(0, 0, 0);
  --text-color: rgb(51, 51, 51);
  --sub-text-color: rgba(18, 18, 18, 0.6);
  --border-color: rgba(219, 219, 219, 0.859);
  --background-color: rgb(250, 250, 250);
}

* {
  margin: 0;
  box-sizing: inherit;
}

html {
  /* Hack font size 1rem = 10px */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/* 
.grid {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto; 
}

.gird__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
}
.row__size {
  padding: 0 36px;
} */


/* ANIMATION */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }
  to {
    transform: scale(var(--growth-to));
  }
}

a {
  text-decoration: none;
}

/* header */
.header {
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 10;
  display: flex;
  background-color: var(--secondary-color);
}
.header__logo {
  width: 100px;
  height: 100%;
  background-color: var(--primary-color);
}
.header__events-and-tournaments {
  width: 15%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
}

.header__events-and-tournaments a {
  color: var(--white-color);
  font-size: 1.875em;
  font-weight: bold;
  transition: color 0.1s ease-out;
}

.header__events-and-tournaments a:hover {
  color: var(--hover-color);
}

/* SEARCH */
.header__search {
  background-color: var(--primary-color);
  min-width: 200px;
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search-input {
  border: 0;
  border-radius: 5px 0 0 5px;
  height: 60%;
  width: 50%;
  padding: 0 10px;
}
.header__search-input:focus {
  outline: 2px solid var(--hover-color);
}
.header__search-button {
  border-radius: 0 5px 5px 0;
  color: white;
  background-color: rgb(22, 124, 212);
}

/* LOGIN - SIGN UP */
.header__user {
  display: flex;
  width: 20%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
}
.header__user-login-button,
.header__user-signup-button {
  min-width: 100px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
}

.header__user-login-button {
  background-color: white;
  color: var(--text-color);
  transition: all 0.1s ease-out;
}
.header__user-login-button:hover {
  background-color: rgb(219, 219, 219);
}
.header__user-signup-button {
  background-color: var(--secondary-color);
}

/* side nav*/
.side-nav {
  position: fixed;
  top: 50px;
  height: 100vh;
  width: 75px;
  box-shadow: 1px 0 3px rgb(0 0 0 / 20%);
}

.side-nav__channel-list {
  padding-top: 20px;
}

.side-nav__channel-item {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  border-radius: 50%;
  background-color: var(--primary-color);
}

/* Style BTN */
.style-btn-normal {
  height: 60%;
  padding: 5px;
  border: 0;
}

.style-btn-hover {
  transition: background-color 0.1s ease-out;
}

.style-btn-hover:hover {
  background-color: var(--hover-color);
}

/* style scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: white;
}

::-webkit-scrollbar-track {
  background: rgb(151, 149, 149);
  border-radius: 10px;
  margin: 0 40px;
}

::-webkit-scrollbar-thumb {
  background: rgb(204, 202, 202);
  border-radius: 10px;
}


/* style video container */

.video-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.video-container:hover .control {
  visibility: visible;
}

.video-playing {
  height: 100%;
}

.control {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: transparent;
  justify-content: space-between;
  visibility: hidden;
}

.play-and-volume,
.func-and-full-screen {
  padding: 5px 10px;
}

.play-and-volume button,
.func-and-full-screen button {
  margin: 5px;
}

.control button {
  background: none;
  outline: none;
  border: 0;
  cursor: pointer;
}
