body {
    
}
.app {
    background-color: var(--white-color);
    background-color: black;
}
.event-tab {   
    position: relative;
    flex-direction: column;
    display: flex;
}
.event__content {
    display: flex;
    position: relative;
    height: 570px;
}
.event__title {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 700;
    margin: 12px 0;
}
.event__content-img {
    position: relative;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    height: auto;
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    /* filter: grayscale(100%); */
}

.slick-dots {
    position:absolute ;
    padding: 0;
    margin: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.slick-item {

}
.slick-btn {
    cursor: pointer;
    border: none;
    background: hsla(0,0%,100%,.5);
    border-radius: 50%;
    content: "";
    cursor: pointer;
    display: block;
    height: 14px;
    margin: 0 6px 0 6px;
    width: 14px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 50%);
}
.slick--active .slick-btn{
    border-radius: 15px;
    width: 30px;
    background-color: var(--white-color);
}
.ongoing-event {
   width: 50%;
   
}
.ongoing-event__title {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 700;
    
 }

.event-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    position: relative;
    height: 450px;
    margin: 0 -15px;
}
.event-item {
    height: 420px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 20%);
    border: none;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 36px;
    background-color: var(--sub-primary-color);
}
.event-item__img {
    
    width: 100%;
    
    cursor: pointer;
}
.event-item__name {
    color: var(--white-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    margin: 15px 0 0 0;
}
.event-item__date {
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 0 0;
    line-height: 24px;
}
.event-item__btn {
    color: var(--white-color);
    font-size: 22px;
    font-weight: 700;
    height: 45px;
    width: 200px;
    background-color: var(--primary-color);
    border-radius: 3px;
    border: none;
    padding: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
}