body {
  background-color: var(--theme-black);
}
h1 {
  color: var(--text-color-white);
}
.main {
  position: absolute;
  top: 50px;
  left: 75px; 
  width: calc(100% - 75px);
  padding: 0 20px;
}

.main__live-area {
  display: flex;
  height: 85vh;
  padding: 36px 8px;
}

.main__live-player {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  border-radius: 10px;
}

.main__live-player:hover {
  cursor: pointer;
}

.main__live-list {
  width: 360px;
  overflow: hidden;
}

/* .main__live-list:hover {
  overflow-y: scroll;
} */

.main__live-item {
  /* height: 20%; */
  background-color: rgb(31, 30, 30);
  border-radius: 5px;
  /* margin: 0 0 20px 0; */
  margin: 0 0 24px 0;
  cursor: pointer;
}

.main__live-item img {
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
  border-radius: 5px;
}

.main__live-item:first-child {
  border: 2px solid var(--secondary-color);
}

.main__popular-channels,
.main__recommend,
.main__category {
  margin-left: 20px;
  margin-top: 24px;
  padding-bottom: 20px;
}

.main__list {
  margin-top: 20px;
  display: flex;
  overflow-x: hidden;
}

.main__list:hover {
  overflow-x: auto;
}

.main-popular {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.main-popular__avatar {
  min-width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 50%;
}


.main-popular__name {
  font-size: 150%;
}

.main__recommend-video {
  height: 175px;
  line-height: 175px;
  min-width: 300px;
  margin: 15px;
  /* margin-top: 24px; */
  background-color: rgb(31, 30, 30);
  border-radius: 5px;
  cursor: pointer;
}

.main__category-item {
  height: 250px;
  min-width: 175px;
  background-color: yellow;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.main__category-item:hover {
  animation: jumpup 0.2s 1 ease;
}

/*  ĐẠT CHỈNH SỬA */
.item__header-title {
  font-size: 28px;
  color: white;
  font-weight: 700;
}
.channel-list {
  margin-top: 36px;
}
.channel-item{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 36px;
}
.channel-avatar{
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
  cursor: pointer;

}
.channel-name{
  color: var(--text-color-white);
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;

}
.channel-sub{
  color: var(--sub-text-color-white);
  font-size: 14px;
}
/* TOP STREAM */
.topstream {
  margin-top: 36px;
}