@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet');
}

body {
  font-family: Roboto, sans-serif;
  background-color: rgb(49, 49, 49);
  color: white;
}

.main {
  position: absolute;
  top: 50px;
  left: 75px; 
  width: calc(100% - 75px);
  padding: 0 20px;
}

.main__live-area {
  display: flex;
  height: 100vh;
  padding: 5% 3%;
}

.main__live-player {
  width: 100%;
  height: 100%;
  margin: 0 10px;
  border-radius: 10px;
}

.main__live-player:hover {
  cursor: pointer;
}

.main__live-list {
  width: 360px;
  overflow: hidden;
}

.main__live-list::-webkit-scrollbar {
  width: 7px;
}

.main__live-list::-webkit-scrollbar-thumb {
  background-color: #0E0E10;
  border-radius: 5px;
}

.main__live-list:hover {
  overflow-y: scroll;
}

.main__live-item {
  height: 20%;
  background-color: rgb(31, 30, 30);
  border-radius: 5px;
  margin: 0 10px 10px 20px;
  cursor: pointer;
}

.main__live-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.main__live-item:first-child {
  border: 4px solid var(--secondary-color);
}

.main__popular-channels,
.main__recommend,
.main__category {
  margin-left: 20px;
  padding-bottom: 20px;
}

.main__list {
  margin-top: 20px;
  display: flex;
  overflow-x: hidden;
}

.main__list:hover {
  overflow-x: auto;
}

.main-popular {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.main-popular__avatar {
  min-width: 100px;
  height: 100px;
  margin: 15px;
  border-radius: 50%;
}


.main-popular__name {
  font-size: 150%;
}

.main__recommend-video {
  height: 175px;
  line-height: 175px;
  min-width: 300px;
  margin: 15px;
  background-color: rgb(31, 30, 30);
  border-radius: 5px;
  cursor: pointer;
}

.main__category-item {
  height: 250px;
  min-width: 175px;
  background-color: yellow;
  margin: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.main__category-item:hover {
  animation: jumpup 0.2s 1 ease;
}