.main {
    margin: 0 auto;
    padding-top: 50px;
    height: 100vh;
    width: 60%;
    background-color: rgb(211, 211, 211);
    display: flex;
}

.menu {
    height: 100%;
    width: 30%;
    background-color: rgb(190, 190, 190);
    padding-top: 20px;
}

.menu ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.menu__item {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    font-size: 200%;
    cursor: pointer;
}

.menu__icon {
    width: 15px;
}

.menu__title {

}

.menu__item--selected {
    background-color: var(--primary-color);
}

.menu__item:hover {
    background-color: rgb(236, 235, 235);
}

.info-panel {
    height: 100%;
    width: 70%;
}

.personal-information {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 200px;
    background-color: orange;
}

.background__avatar {
    position: relative;
    left: calc(50% - 75px);
    top: 100px;
    width: 150px;
    border-radius: 50%;
}

.info-content {
    padding-top: 50px;
    
}

.info-content ul {
    list-style-type: none;
    font-size: 150%;
}

.info-content li {
    margin: 20px;
}

.follow {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.follow__channel {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}