@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet');
}

.data-table {
    border-collapse: collapse;
    color: white;
    margin: 25px auto;
    font-size: 150%;
    width: 90%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.data-table thead tr {
    background-color: var(--sub-primary-color);
    text-align: left;
    font-weight: bold;
}

.data-table th, 
.data-table td {
    padding: 12px 15px;
}


.data-table tbody tr:last-of-type {
    border-bottom: 1px solid #dddddd;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--theme-black);
    color: white;
}

a {
    color: white;
}

.main {
    display: flex;
    flex-direction: row;
}

.menu {
    flex: 0.3;
    background-color: var(--theme-black);
}

.icon {
    width: 15px;
    cursor: pointer;
}

.menu ul {
    list-style-type: none;
    width: 100%;
    padding-left: 0;
}

.menu__item {
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    font-size: 200%;
    color: var(--sub-text-color-white);
    cursor: pointer;
}

.menu__icon {
    color: var(--sub-text-color-white);
    width: 15px;
}

.menu__icon--selected {
    color: white;
}

.menu__title {
    margin-left: 10px;
    color: var(--sub-text-color-white);
}

.menu__item--selected .menu__title {
    color: white;
}

.menu__item:hover {
    background-color: rgb(99, 99, 99);
}

.info-panel {
    flex: 1;
    background-color: var(--theme-black);
}

.personal-information {
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    height: 200px;
    background-color: orange;
    border-radius: 7px 7px 0 0;
}

.background__avatar {
    position: relative;
    left: calc(50% - 75px);
    top: 100px;
    width: 150px;
    border-radius: 50%;
}

.info-content {
    padding-top: 50px;
}

.info-content__label {
    font-weight: bold;
}

.info-content ul {
    list-style-type: none;
    font-size: 150%;
}

.info-content li {
    margin: 20px;
}

.info-content__edit-icon {
    margin-left: 5px;
    cursor: pointer;
}

.info-content__edit-icon:hover {
    color: var(--sub-text-color-white);
}

.my-follow {
    padding-top: 20px;
}

.follow-title {
    font-size: 200%;
    margin-left: 12px;
    margin-top: 20px;
}

.follow-list {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.channel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 7px;
}

.channel-avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    cursor: pointer;
    margin-bottom: 10px;
}

.channel-name {
    color: var(--text-color-white);
    font-size: 18px;
    line-height: 30px;
    cursor: pointer;
}

.channel-sub{
    color: var(--sub-text-color-white);
    font-size: 14px;
}

.top-up-history {
    width: 100%;
    height: 100%;
}

.top-up-balance {
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    height: 100px;
    color: var(--white-color);
}

.top-up-balance__title {
    font-size: 200%;
    margin: 20px;
}

.top-up-balance__amount {
    font-size: 300%;
    margin-left: 20px;
    color: #A38329;
}

.top-up-balance__icon {
    margin-left: 5px;
    font-size: 20px;
    color: #FFD700;
}


.recent-history__title,
.all-history__title {
    font-size: 250%;
    margin-left: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.history-list {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.stream-item {
    width: 280px;
    height: 280px;
    margin-bottom: 24px;
    background-color: var(--sub-primary-color);
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.stream-item:hover .stream-item__img {
    background-color: darkgray;
}
.stream-item__header {
    height: 159px;
    border-radius: 5px;
    position: relative;
}   
.stream-item__img {
    width: 100%;
    height: 100%;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: top center; */
    object-fit: cover;
    border-radius: 5px;
}
.stream-item__view {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.8);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;

}
.stream-item__title {
    display: none;
}
.stream-item__coating{ 
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.stream-item__play {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    color: white;
    font-size: 36px;
}
.stream-item__body {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
}
.stream-item:hover .stream-item__play,
.stream-item:hover .stream-item__coating {
    display: block;
    visibility: visible;
}
.stream-item__avatar {
    width: 45px;
    height: 45px;
    border: 1px solid var(--white-color);
    box-shadow: 0 1px 2px var(--border-color);
    border-radius: 50%;
    margin-right: 14px;
}
.stream-item__info {
    display: flex;
    flex-direction: column;
    
}
.stream-item__content {
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 700;
    color: var(--white-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 4px;
}
.stream-item__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--sub-white-text-color);
    margin-bottom: 12px;
}
.stream-item__topic {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
}
.stream-item__topic-item {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    margin-right:4px;
    padding: 4px 8px;
    border-radius: 4px;
}
.content {
    flex: 1;
}
.data-item{
    background-color: #353535;
    border-radius: 8px;
    padding: 16px;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 12px;
}
.data-item-header{
    display: flex;
    align-items: center;
}
.data-item-icon {
    color: yellow;
    font-size: 16px;
    margin-right: 8px;
}
.date-item-name{
    color: #ffffff99;
    font-size: 16px;
}
.data-item-number{
    color: #ffffff99;
    font-size: 24px;
}
.content-selected {
    /* margin-left: 16px; */
    margin-bottom: 16px;
}
.dropdown{
    position: relative;
}
.dropdown .btn{
    background-color: var(--theme-black);
    border: 1px solid var(--border-color-black-2);
    padding: 6px 36px;
    color: white;
    
}
.dropdown .btn i {
    margin-left: 12px;
}
.dropdown-menu{
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 27, 27);
    position: absolute;
    top: 110%;
    width: 132px;
    padding: 12px;
    border: 1px solid var(--border-color-black-2);
    display: none;
}
.dropdown:hover .dropdown-menu{
    display: flex;
}
.dropdown-item{
    padding: 8px 22px;
}

.dropdown button {
    font-size: 16px;
    background-color: #353535;
}
.dropdown .dropdown-menu {
    font-size: 16px;
}
.chart {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-left: 12px;
}
.chart h1 {
    line-height: 30px;
}
.chart-sub{
    display: flex;
    flex-direction: column;
}
.chart-sub-item{
    margin: 8px 16px;
    display: flex;
    align-items: center;
}
.chart-sub-color{
    width: 10px;
    height: 10px;
    border:1px solid white;
    margin-right: 8px;
}
.chart-sub .chart-sub-item:nth-child(1) .chart-sub-color {
    border:1px solid white;
    background-color: white;
}
.chart-sub .chart-sub-item:nth-child(2) .chart-sub-color {
    border:1px solid #FE2c55;
    background-color: #FE2c55;
}
.chart-sub .chart-sub-item:nth-child(3) .chart-sub-color {
    border:1px solid yellow;
    background-color: yellow;
}
.chart-sub-name{
    font-size: 14px;
    color: rgb(204, 203, 203);
}
#myChart {
    margin-top: 10px;
}