body{
    background-color: var(--black-color);
}
main{
    padding-top: 70px;
}
/* top-nav */
.top-nav{
    margin-left: 20%;
    width: 60%;
    height: 50px;
    background: #232323;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
    0 2px 2px rgba(0,0,0,0.12),
    0 4px 4px rgba(0,0,0,0.12),
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

.top-nav ul{
    float: left;
    display: flex;
}
.top-nav ul li{
    list-style: none;
}
.top-nav ul li a{
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 5px 20px;
    box-sizing: border-box;
    color: #fff; 
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.7s
}
.top-nav ul li:nth-child(4){
    border-bottom: 3px solid #fff;
}
/* Main-content */

.main-content{  
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 20%;
    width: 60%;
    
}
/* Title bar cá»§a content game, streamer, live */
.title-bar{
    display: flex;
}
.title-bar__title{
    font-size: 22px;
    font-weight: 700;
    flex: 1;
    color: var(--white-color);
}
.title-bar__active{
    float: right;
    font-size: 16px;
    width: 95px;
    color: var(--white-color);
}
.title-bar__active i{
    transform: scale(1.3);
}

/* Live */
.main-content__live{
    margin-top: 50px;
}
.list-live{
    display: flex;
    padding-top: 20px;
    width: 100%;
}
.list-live-iteam{
    background-color:var(--sub-primary-color);
    width: 300px;
    height: 250px;
    border-radius: 5px;
    padding: 5px 5px 5px;
    text-align: center;
    border-radius: 5px;
    margin-right: 20px;
    transition: all 0.3s;
}

.list-live-iteam:hover .list-live-iteam__img {
    background-color: darkgray;
}
.list-live-iteam__header {
    height: 159px;
    border-radius: 5px;
    position: relative;
}   
.list-live-iteam__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.list-live-iteam__view {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.8);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;

}
.list-live-iteam__title {
    display: none;
}
.list-live-iteam__coating{ 
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.list-live-iteam .list-live-iteam__play {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    color: white;
    font-size: 36px;
}
.list-live-iteam__body {
    display: flex;
    margin-top: 8px;
}
.list-live-iteam:hover .list-live-iteam__play,
.list-live-iteam:hover .list-live-iteam__coating {
    display: block;
}
.list-live-iteam__avatar {
    width: 45px;
    height: 45px;
    border: 1px solid var(--white-color);
    box-shadow: 0 1px 2px var(--border-color);
    border-radius: 50%;
    margin-right: 14px;
}
.list-live-iteam__info {
    display: flex;
    flex-direction: column;
}
.list-live-iteam__content {
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 700;
    overflow: hidden;
    margin-bottom: 4px;
    text-align: left;
    color: var(--white-color);
}
.list-live-iteam__name {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: left;
    color: var(--white-color);
}
