@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet');
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--theme-black);
  color: white;
  /* background-image: url('../../images/cropped-1920-1080-611981.jpg');
  background-color: var(--theme-black);
  background-position: top center;
  background-size: 100%;
  background-repeat: repeat; */
}

.main {
  position: absolute;
  padding: 5% 5% 5%;
  left: 75px; 
  display: flex;
  flex-wrap: wrap;
}

.interact {
  width: 75%;
  background-color: var(--theme-black);
  border-radius: 7px;
}

.interact__title {
  margin-left: 10px;
  height: 10vh;
  display: flex;
  align-items: center;
}

.interact__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}

.main__live-player {
  height: 70vh;
}

.donate {
  padding: 10px 20px;
  height: 10vh;
  display: flex;
  justify-content: space-around;
}

.donate__item {
  padding: auto;
  width: 45px;
  height: 45px;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.donate__item:hover {
  background-color: rgb(116, 116, 116);
}

.title-container {
  margin-left: 20px;
  height: 10vh;
  width: 100%;
}

.title-container__above {
  width: 100%;
  font-size: 250%;
  font-weight: bold;
  height: 5vh;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.action {
  margin-left: auto;
  margin-right: 10px;
}

.title-container__below {
  width: 100%;
  font-size: 150%;
  height: 5vh;
  display: flex;
  align-items: center;
  gap: 30px;
}

.title__button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: inherit;
  border: 1px solid white;
  cursor: pointer;
  margin: 2px;
}

.title__button-heart:hover {
  background-color: rgb(224, 82, 82);
}

.title__button-bell:hover {
  background-color: rgb(190, 190, 34);
}

.archive-video {
  margin-top: 40px;
  padding: 10px;
  width: 100%;
}

.archive-video__title {
  font-size: 250%;
  margin-bottom: 20px;
}

.archive-video-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.stream-item {
    width: 280px;
    height: 280px;
    margin-bottom: 24px;
    background-color: var(--sub-primary-color);
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

.stream-item:hover .stream-item__img {
    background-color: darkgray;
}
.stream-item__header {
    height: 159px;
    border-radius: 5px;
    position: relative;
}   
.stream-item__img {
    width: 100%;
    height: 100%;
    /* background-repeat: no-repeat;
    background-size: contain;
    background-position: top center; */
    object-fit: cover;
    border-radius: 5px;
}
.stream-item__view {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.8);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 5px;
    z-index: 1;

}
.stream-item__title {
    display: none;
}
.stream-item__coating{ 
    display: none;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.stream-item__play {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translateY(-50%); */
    color: white;
    font-size: 36px;
}
.stream-item__body {
    display: flex;
    margin-top: 8px;
    margin-left: 8px;
}
.stream-item:hover .stream-item__play,
.stream-item:hover .stream-item__coating {
    display: block;
    visibility: visible;
}
.stream-item__avatar {
    width: 45px;
    height: 45px;
    border: 1px solid var(--white-color);
    box-shadow: 0 1px 2px var(--border-color);
    border-radius: 50%;
    margin-right: 14px;
}
.stream-item__info {
    display: flex;
    flex-direction: column;
    
}
.stream-item__content {
    font-size: 1.4rem;
    line-height: 24px;
    font-weight: 700;
    color: var(--white-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 4px;
}
.stream-item__name {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--sub-white-text-color);
    margin-bottom: 12px;
}
.stream-item__topic {
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
}
.stream-item__topic-item {
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    margin-right:4px;
    padding: 4px 8px;
    border-radius: 4px;
}


/* chat box */
.main__chat-channel {
  margin-left: 5px;
  width: 22%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.chat{
  width: 350px;
  display: flex;
  flex-direction: column;
}
.chat__header {
  height: 50px;
  display: flex;
  align-items: center;
}
.chat__header-title {
  color: white;
  font-size: 20px;
}

.chatbox {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 4px;
}
.chatbox__livechat {
  background-color: var(--sub-primary-color);
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  /* overflow-y: scroll; */
}
.chatbox__chat-item {
  padding: 4px;
  display: flex;
  flex-direction: row;
  font-size: 14px;

  /* overflow: hidden; */
}
.chatbox__chat-item-name {
  color: var(--sub-text-color-white);
  margin-right: 8px;
}
.chatbox__chat-item-content {
  /* display: flex;
  flex-wrap: wrap; */
  color: var(--text-color-white);
  word-wrap: break-word;
}
.chatbox__footer{
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
  background-color: var(--sub-primary-color);
}
.chatbox__user{
  font-size: 14px;
  color: var(--sub-text-color-white);
}
.chatbox__enter{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 6px 0px;
}
.chatbox__enter-input{
  flex: 1;    
  font-size: 14px;

  height: 100%;
  border: 1px solid var(--border-color-black);
  border-radius: 3px;
  color: var(--text-color-white);
  outline: none;
  height: 35px;
  background-color: inherit;
}
.chatbox__enter-input:focus {
  border: 1px solid #80bdff;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
.chatbox__enter-send{
  height: 100%;
  margin-left: 8px;
  width: 50px;
  background-color: var(--blue-color-black);
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}