.main {
  position: absolute;
  top: 50px;
  left: 75px; 
  width: calc(100% - 75px);
  display: flex;
}

.main__interact {
  width: 75%;
  height: calc(100vh - 50px);
}

.main__title {
  height: 8vh;
  background-color: red;
}

.main__live-player {
  height: 75vh;
}

.main__donate {
  height: calc(17vh - 50px);
  background-color: blue;
}

.main__chat-channel {
  width: 25%;
  height: calc(100vh - 50px);
}