<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang cá nhân</title>

    <link rel="stylesheet" href="../../asset/css/base.css" />
    <link rel="stylesheet" href="../../asset/css/my-info.css" />
  </head>
  <body>
    <nav class="header">
      <a href="index.html">
        <div class="header__logo"></div>
      </a>
      <div class="header__events-and-tournaments">
        <a href="../event.html">Sự kiện</a>
        <a href="#">Tất cả</a>
      </div>
      <div class="header__search">
        <input type="text" placeholder="Search" class="header__search-input" />
        <button class="header__search-button style-btn-normal style-btn-hover">
          <img src="../../images/search-solid.svg" alt="search" width="20px" />
        </button>
      </div>
      <div class="header__user header__user--right">
          <img src="../../images/avatar.jpg" class="header__user-avatar"/>
      </div>
    </nav>
    <main class="main">
      <div class="menu">
        <ul>
          <li class="menu__item menu__item--selected">
            <a href="../my-info/my-info-information.html">
              <img src="../../images/user-solid.svg" class="menu__icon" />
              <span class="menu__title">Thông tin cá nhân</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="../my-info/my-info-follow.html">
              <img src="../../images/heart-solid.svg" class="menu__icon" />
              <span class="menu__title">Kênh theo dõi</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="../my-info/my-info-topup-history.html">
              <img src="../../images/coins-solid.svg" class="menu__icon" />
              <span class="menu__title">Lịch sử nạp</span>
            </a>
          </li>
          <li class="menu__item">
            <a href="../my-info/my-info-stream-history.html">
              <img
                src="../../images/broadcast-tower-solid.svg"
                class="menu__icon"
              />
              <span class="menu__title">Lịch sử stream</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="info-panel">
        <div class="personal-information">
          <div class="background">
            <img src="../../images/avatar.jpg" alt="" class="background__avatar" />
          </div>
          <div class="info-content">
            <ul>
              <li>
                <label class="info-content__label">ID: </label>
                <span class="info-content__text">12341234</span>
                <span><img src="../../images/edit-solid.svg" class="icon"></span>
              </li>
              <li>
                <label class="info-content__label">Biệt danh: </label>
                <span class="info-content__text">abcd</span>
                <span><img src="../../images/edit-solid.svg" class="icon"></span>
              </li>
              <li>
                <label class="info-content__label">Giới tính: </label>
                <span class="info-content__text">Nam</span>
                <span><img src="../../images/edit-solid.svg" class="icon"></span>
              </li>
              <li>
                <label class="info-content__label">Số điện thoại: </label>
                <span class="info-content__text">12341234</span>
                <span><img src="../../images/edit-solid.svg" class="icon"></span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
