<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang cá nhân</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../asset/css/base.css" />
    <link rel="stylesheet" href="../../asset/css/grid.css">
    <link rel="stylesheet" href="../../asset/css/my-info.css" />
    </head>
<body> 
    <div class="header">
      <a class="header__logo" href="/view/index-logged.html">
          <i class="fab fa-stripe-s"></i>
          <div class="header__logo-sub-title">Zone</div>
      </a>
      <div class="header__navbar">
          <a class="header__navbar-item " href="/view/index.html">Trang chủ</a>
          <a class="header__navbar-item " href="/view/allstream/allstream.html">Danh sách phát</a>          
          <a class="header__navbar-item" href="/view/category/category.html">Danh mục</a>
          <a class="header__navbar-item" href="/view/event.html">Sự kiện</a>
      </div>
      <div class="header__search" >
          <input type="text" placeholder="Search" 
          style="height: 42.2px!important;" class="header__search-input" />
          <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
          <button class="header__search-button">
              <a href="/view/search/search-total.html">
                  <i class="fas fa-search"></i>
                  <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
              </a>
          </button>
      </div>
      <div class="header__user header__user--right">
        <a href="/view/set-up-stream/set-up-stream.html" target="_blank">
            <i class="fas fa-video header__icon header__live-stream"></i>
        </a>
        <div class="balance-amount">
            <span class="balance-amount__number">1234</span>
            <a href="./top-up.html" target="_blank">
                <i class="fas fa-coins header__icon header__coins"></i>
            </a>
        </div>
        <a href="./my-info/my-info-information.html">
            <img src="../../images/avatar.jpg" class="header__user-avatar"/>
        </a>
    </div>
    </div>
    <main class="grid wide app">
        <main class="main">
            <div class="menu">
                <ul>
                    <li class="menu__item">
                    <a href="../my-info/my-info-information.html">
                        <i class="fas fa-user menu__icon"></i>
                        <span class="menu__title">Thông tin cá nhân</span>
                    </a>
                    </li>
                    <li class="menu__item ">
                    <a href="../my-info/my-info-follow.html">
                        <i class="fas fa-heart menu__icon menu__icon--selected"></i>
                        <span class="menu__title">Kênh theo dõi</span>
                    </a>
                    </li>
                    <li class="menu__item">
                    <a href="../my-info/my-info-topup-history.html">
                        <i class="fas fa-coins menu__icon"></i>
                        <span class="menu__title">Lịch sử nạp</span>
                    </a>
                    </li>
                    <li class="menu__item">
                    <a href="../my-info/my-info-stream-history.html">
                        <i class="fas fa-broadcast-tower menu__icon"></i>
                        <span class="menu__title">Lịch sử stream</span>
                    </a>
                    </li>
                    <li class="menu__item menu__item--selected">
                        <a href="../my-info/my-info-statistics.html">
                            <i class="fas fa-chart-line menu__icon"></i>
                            <span class="menu__title">Bảng thống kê</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="content-selected">
                    <div class="dropdown">
                        <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            2021-12
                            <i class="far fa-calendar-alt"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">2021-11</a>
                            <a class="dropdown-item" href="#">2021-10</a>
                            <a class="dropdown-item" href="#">2021-09</a>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col l-4 m-4 c-6">
                        <div class="data-item">
                            <div class="data-item-header">
                                <i class="data-item-icon far fa-clock "></i>
                                <div class="date-item-name">Thời lượng</div>
                            </div>
                            <div class="data-item-number">
                                90
                            </div>
                        </div>
                    </div>
                    <div class=" col l-4 m-4 c-6">
                        <div class="data-item">
                            <div class="data-item-header">
                                <i class="data-item-icon far fa-clock"></i>
                                <div class="date-item-name">Phổ biến</div>
                            </div>
                            <div class="data-item-number">
                                12
                            </div>
                        </div>
                    </div>
                    <div class=" col l-4 m-4 c-6">
                        <div class="data-item">
                            <div class="data-item-header">
                                <i class="fas fa-fire-alt data-item-icon"></i>
                                <div class="date-item-name">Theo dõi</div>
                            </div>
                            <div class="data-item-number">
                                1
                            </div>
                        </div>
                    </div>
                    <div class=" col l-4 m-4 c-6">
                        <div class="data-item">
                            <div class="data-item-header">
                                <i class="data-item-icon far fa-clock"></i>
                                <div class="date-item-name">Đá quý</div>
                            </div>
                            <div class="data-item-number">
                                8
                            </div>
                        </div>
                    </div>
                    <div class=" col l-4 m-4 c-6">
                        <div class="data-item">
                            <div class="data-item-header">
                                <i class="data-item-icon far fa-clock"></i>
                                <div class="date-item-name">Chia sẻ</div>
                            </div>
                            <div class="data-item-number">
                                2
                            </div>
                        </div>
                    </div>   
                    <div class=" col l-4 m-4 c-6">
                        <div class="data-item">
                            <div class="data-item-header">
                                <i class="data-item-icon far fa-clock"></i>
                                <div class="date-item-name">Bình luận</div>
                            </div>
                            <div class="data-item-number">
                                0
                            </div>
                        </div>
                    </div>
                </div>
                <div class="chart">
                    <h1 class="chart-name">Biểu đồ</h1>
                    <div class="chart-sub">
                        <div class="chart-sub-item">
                            <div class="chart-sub-color"></div>
                            <div class="chart-sub-name">Lượng người xem</div>
                        </div>
                        <div class="chart-sub-item">
                            <div class="chart-sub-color"></div>
                            <div class="chart-sub-name">Lượng theo dõi tăng thêm</div>
                        </div>
                        <div class="chart-sub-item">
                            <div class="chart-sub-color"></div>
                            <div class="chart-sub-name">Lượng quà</div>
                        </div>
                    </div>
                    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                </div>
            </div>
            
        </main>
    </main>
</body>
</html>
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>

<script>
    var xValues = [1,2,3,4,5,6,7,8,9,10,11,12];

new Chart("myChart", {
    type: "line",
    data: {
        labels: xValues,
        datasets: [{
        data: [860,1140,1060,1060,1070,1110,1330,2210,7830,2478,1500,1600],
        borderColor: "#FE2c55",
        fill: false
        },{
        data: [1600,1700,1700,1900,2000,2700,4000,5000,6000,500,667,100],
        borderColor: "white",
        fill: false
        },{
        data: [300,700,2000,5000,6000,4000,2000,1000,200,100,1000,999],
        borderColor: "yellow",
        fill: false
        }]
    },
    options: {
        legend: {display: false}
    }
});
</script>