<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang cá nhân</title>

    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../asset/css/base.css" />
    <link rel="stylesheet" href="../../asset/css/grid.css">
    <link rel="stylesheet" href="../../asset/css/my-info.css" />
  </head>
  <body>
    <div class="header">
      <a class="header__logo" href="../index.html">
          <i class="fab fa-stripe-s"></i>
          <div class="header__logo-sub-title">Zone</div>
      </a>
      <div class="header__navbar">
          <a class="header__navbar-item active" href="/view/allstream/allstream.html">Danh sách phát</a>          
          <a class="header__navbar-item" href="/view/category/category.html">Danh mục</a>
          <a class="header__navbar-item" href="/view/event.html">Sự kiện</a>
      </div>
      <div class="header__search">
          <input type="text" placeholder="Search" class="header__search-input" />
          <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
          <button class="header__search-button">
              <a href="/view/search/search-total.html">
                  <i class="fas fa-search"></i>
                  <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
              </a>
          </button>
      </div>
      <div class="header__user header__user--right">
        <a href="./set-up-stream/set-up-stream.html">
            <i class="fas fa-video header__icon header__live-stream"></i>
        </a>
        <div class="balance-amount">
            <span class="balance-amount__number">1234</span>
            <a href="./top-up.html" target="_blank">
                <i class="fas fa-coins header__icon header__coins"></i>
            </a>
        </div>
        <a href="./my-info/my-info-information.html">
            <img src="../../images/avatar.jpg" class="header__user-avatar"/>
        </a>
    </div>
    </div>
    <main class="grid wide app">
      <main class="main">
        <div class="menu">
          <ul>
            <li class="menu__item menu__item--selected">
              <a href="../my-info/my-info-information.html">
                <i class="fas fa-user menu__icon menu__icon--selected"></i>
                <span class="menu__title">Thông tin cá nhân</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="../my-info/my-info-follow.html">
                <i class="fas fa-heart menu__icon"></i>
                <span class="menu__title">Kênh theo dõi</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="../my-info/my-info-topup-history.html">
                <i class="fas fa-coins menu__icon"></i>
                <span class="menu__title">Lịch sử nạp</span>
              </a>
            </li>
            <li class="menu__item">
              <a href="../my-info/my-info-stream-history.html">
                <i class="fas fa-broadcast-tower menu__icon"></i>
                <span class="menu__title">Lịch sử stream</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="info-panel">
          <div class="personal-information">
            <div class="background">
              <img src="../../images/avatar.jpg" alt="" class="background__avatar" />
            </div>
            <div class="info-content">
              <ul>
                <li>
                  <label class="info-content__label">ID: </label>
                  <span class="info-content__text">12341234</span>
                  <span><img src="../../images/edit-solid.svg" class="icon"></span>
                </li>
                <li>
                  <label class="info-content__label">Biệt danh: </label>
                  <span class="info-content__text">abcd</span>
                  <span><img src="../../images/edit-solid.svg" class="icon"></span>
                </li>
                <li>
                  <label class="info-content__label">Giới tính: </label>
                  <span class="info-content__text">Nam</span>
                  <span><img src="../../images/edit-solid.svg" class="icon"></span>
                </li>
                <li>
                  <label class="info-content__label">Số điện thoại: </label>
                  <span class="info-content__text">12341234</span>
                  <span><img src="../../images/edit-solid.svg" class="icon"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </main>
    </main>
  </body>
</html>
