<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream Zone</title>
    <link rel="stylesheet" href="/asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/asset/css/base.css" />
    <link rel="stylesheet" href="/asset/css/grid.css" />
    <link rel="stylesheet" href="/asset/css/allstream.css" />
    <link rel="stylesheet" href="/asset/css/channel.css" />
</head>
<body>
    <div class="header">
            <a class="header__logo" href="/view/index.html">
                <i class="fab fa-stripe-s"></i>
                <div class="header__logo-sub-title">Zone</div>
            </a>
            <div class="header__navbar">
                <a class="header__navbar-item" href="/view/index.html">Trang chủ</a>          
                <a class="header__navbar-item" href="/view/allstream/allstream.html">Danh sách phát</a>          
                <a class="header__navbar-item" href="/view/category/category.html">Danh mục</a>
                <a class="header__navbar-item" href="/view/event.html">Sự kiện</a>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Search" class="header__search-input" />
                <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
                <button class="header__search-button">
                    <a href="/view/search/search-total.html">
                        <i class="fas fa-search"></i>
                        <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
                    </a>
                </button>
            </div>
            <div class="header__user">
                <a href="/view/login.html">
                    <button class="header__user-login-button style-btn-normal">
                    Log in
                    </button>
                </a>
                <a href="/view/sign-up.html">
                    <button class="header__user-signup-button style-btn-normal style-btn-hover">
                        Sign up
                    </button>
                </a>
            </div>
    </div>
    <div class="info">
        <div class="bg">

        </div>
        <div class="user">
            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" alt="" class="user-avatar">
            <div class="user-info">
                <div class="user-name">
                    <div class="name">Thầy Giáo Ba</div>
                    <button class="btn-follow">Theo dõi</button>
                </div>
                
                <div class="user-fan">
                    <div class="user-fan-item">
                        <div class="user-fan-title">Theo dõi</div>
                        <div class="user-fan-number">16</div>
                    </div>
                    <div class="user-fan-item">
                        <div class="user-fan-title">Fan</div>
                        <div class="user-fan-number">86.3N</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid wide">
        <div class="list">
            <div class="list-title">Video</div>
            <div class="row">
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/qCRCyyeQ7oQ/maxresdefault.jpg"></img>
                            <div class="stream-item__view" style="background-color: #FE2c55;">Đang trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">Hello mấy cục zàng !!!</div>
                                <div class="stream-item__name">11/12/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/xv9Fd2V5OU0/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">KHÔNG AI CÓ THỂ SO SÁNH VỚI BAROIBEO</div>
                                <div class="stream-item__name">22/11/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img"
                                src="http://img.youtube.com/vi/NUgB-gd8p4I/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp"
                                alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">TRUNG VOLIBEAR</div>
                                <div class="stream-item__name">10/12/2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/qCRCyyeQ7oQ/maxresdefault.jpg"></img>
                            
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">Hello mấy cục zàng !!!</div>
                                <div class="stream-item__name">11/12/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/qCRCyyeQ7oQ/maxresdefault.jpg"></img>
                            
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">Hello mấy cục zàng !!!</div>
                                <div class="stream-item__name">11/12/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/NyqbhP9iMV0/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">TRUNG REACTION | TIỂU SỬ THẦY GIÁO BA</div>
                                <div class="stream-item__name">30/11/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                
            </div>
        </div>
        <div class="list">
            <div class="list-title">Video nổi bật</div>
            <div class="row">
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/1oEJs_EQaXE/maxresdefault.jpg"></img>
                            
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'"> ANH BA THẢ XÍCH CON QUÁI VẬT ĐƯỜNG TRÊN!</div>
                                <div class="stream-item__name">11/12/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img"
                                src="http://img.youtube.com/vi/71pwN2L7qr4/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp"
                                alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">TRUNG GTA V | BỆNH VIỆN BẤT ỔN VÀ ANH TAM ĐIỀU DƯỠNG TÂM HUYẾT</div>
                                <div class="stream-item__name">10/12/2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img"
                                src="http://img.youtube.com/vi/7cm5Lj0qFzU/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp"
                                alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">TRUNG JHIN | THẦY BA COSPLAY CELEBRITY NHƯNG CUỘC ĐỜI KHÔNG NHƯ LÀ MƠ</div>
                                <div class="stream-item__name">10/12/2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img"
                                src="http://img.youtube.com/vi/Z0GtO7ZeEAA/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp"
                                alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">HÉ LỘ DIỄN BIẾN ARCANE 2 CỰC KỲ BẤT NGỜ </div>
                                <div class="stream-item__name">10/12/2021</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list">
            <div class="list-title">Video đề xuất</div>
            <div class="row">
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img"
                                src="http://img.youtube.com/vi/7cm5Lj0qFzU/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp"
                                alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">TRUNG JHIN | THẦY BA COSPLAY CELEBRITY NHƯNG CUỘC ĐỜI KHÔNG NHƯ LÀ MƠ</div>
                                <div class="stream-item__name">10/12/2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img"
                                src="http://img.youtube.com/vi/NUgB-gd8p4I/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp"
                                alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">TRUNG VOLIBEAR</div>
                                <div class="stream-item__name">10/12/2021</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/xv9Fd2V5OU0/maxresdefault.jpg"></img>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">KHÔNG AI CÓ THỂ SO SÁNH VỚI BAROIBEO</div>
                                <div class="stream-item__name">22/11/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item" >
                        <div class="stream-item__header"  onclick="location.href='/view/watching-record.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/qCRCyyeQ7oQ/maxresdefault.jpg"></img>
                            
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://img.nimo.tv/t/1629511905172/202111241637776500538_1629511905172_avatar.png/w240_l0/img.webp" 
                            alt="" class="stream-item__avatar"  onclick="location.href='/view/watching-record.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching-record.html'">Hello mấy cục zàng !!!</div>
                                <div class="stream-item__name">11/12/2021</div>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</body>