<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stream Zone</title>

  <link rel="stylesheet" href="../../asset/css/base.css">
  <link rel="stylesheet" href="../../asset/css/grid.css">
  <link rel="stylesheet" href="../../asset/css/search-total.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <div class="header">
            <a class="header__logo" href="/view/index.html">
                <i class="fab fa-stripe-s"></i>
                <div class="header__logo-sub-title">Zone</div>
            </a>
            <div class="header__navbar">
                <a class="header__navbar-item " href="/view/index.html">Trang chủ</a>                 
                <a class="header__navbar-item " href="/view/allstream/allstream.html">Danh sách phát</a>          
                <a class="header__navbar-item " href="/view/category/category.html">Danh mục</a>
                <a class="header__navbar-item " href="/view/event.html">Sự kiện</a>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Search" class="header__search-input" />
                <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
                <button class="header__search-button">
                    <a href="/view/search/search-total.html">
                        <i class="fas fa-search"></i>
                        <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
                    </a>
                </button>
            </div>
            <div class="header__user">
                <button class="header__user-login-button style-btn-normal">
                Log in
                </button>
                <button class="header__user-signup-button style-btn-normal style-btn-hover">
                    Sign up
                </button>
            </div>
        </div> 
  <main>
    <div class="top-nav">
      <ul>
        <li><a href="./search-total.html">Chung</a></li>
        <li><a href="./search-game.html">Trò chơi</a></li>
        <li><a href="./search-streamer.html">Streamer</a></li>
        <li><a href="./search-live.html">Trực tiếp</a></li>
      </ul>
    </div>
    <div class="grid wide">
      <div class="main-content__game">
        <div class="title-bar">
          <div class="title-bar__title">Trò chơi</div>
          <a class="title-bar__active" href="./search-game.html"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="list-game">
          <a class="list-game-iteam" href="/view/category/category-item.html">
            <div class="list-game-iteam__img">
              <img src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">GATA5</div>
          </a>
          <a class="list-game-iteam" href="/view/category/category-item.html">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                data-src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Play Together</div>
          </a>
          <a class="list-game-iteam" href="/view/category/category-item.html">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">ConsoleGames</div>
          </a>
          <a class="list-game-iteam" href="/view/category/category-item.html">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">MOBA</div>
          </a>
          <a class="list-game-iteam" href="/view/category/category-item.html">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Juegos de consola</div>
          </a>
          <a class="list-game-iteam" href="/view/category/category-item.html">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">FBS GAME</div>
          </a>
        </div>
      </div>
      <div class="main-content__streamer">
        <div class="title-bar">
          <div class="title-bar__title">Streamer</div>
          <a class="title-bar__active" href="./search-streamer.html"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="list-streamer">
          <a class="list-streamer-iteam" href="/view/watching.html">
            <div class="list-streamer-iteam__img">
              <img
                src="https://img.nimo.tv/t/1629525216560/202105271622076642921_1629525216560_avatar.png/w240_l0/img.png"
                alt="StreamZone" class="loading" data-was-processed="true">
            </div>
            <div class="list-streamer-iteam__name">AE TAHANBADAN</div>
            <div class="list-streamer-iteam__follow">52N người theo dõi</div>

          </a>
          <a class="list-streamer-iteam" href="/view/watching.html">
            <div class="list-streamer-iteam__img">
              <img src="https://img.nimo.tv/t/201908041564955207812_2459511637126_avatar.png/w240_l0/img.png"
                alt="StreamZone" class="loading" data-was-processed="true">
            </div>
            <div class="list-streamer-iteam__name">Piuzinho</div>
            <div class="list-streamer-iteam__follow">43N người theo dõi</div>
          </a>
          <a class="list-streamer-iteam" href="/view/watching.html">
            <div class="list-streamer-iteam__img">
              <img src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w240_l0/img.png"
                alt="StreamZone" class="loading" data-was-processed="true">
            </div>
            <div class="list-streamer-iteam__name">MixiGaming</div>
            <div class="list-streamer-iteam__follow">16N người theo dõi</div>

          </a>
          <a class="list-streamer-iteam" href="/view/watching.html">
            <div class="list-streamer-iteam__img">
              <img src="https://img.nimo.tv/t/201909011567349522046_1999512939992_avatar.png/w240_l0/img.png"
                alt="StreamZone" class="loading" data-was-processed="true">
            </div>
            <div class="list-streamer-iteam__name">Doch</div>
            <div class="list-streamer-iteam__follow">10 người theo dõi</div>

          </a>
          <a class="list-streamer-iteam" href="/view/watching.html">
            <div class="list-streamer-iteam__img">
              <img
                src="https://img.nimo.tv/t/1629512376778/202108071628339974011_1629512376778_avatar.png/w240_l0/img.png"
                alt="StreamZone" class="loading" data-was-processed="true">
            </div>
            <div class="list-streamer-iteam__name">CGGG</div>
            <div class="list-streamer-iteam__follow">89 người theo dõi</div>
          </a>
        </div>
      </div>
      <div class="main-content__live">
        <div class="title-bar">
          <div class="title-bar__title">Trực tiếp</div>
          <a class="title-bar__active" href="./search-live.html"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="list-live">
          <a class="list-live-iteam" href="/view/watching.html">
            <div class="list-live-iteam__header">
              <img class="list-live-iteam__img" src="http://img.youtube.com/vi/Kp8RQ9fiH-M/maxresdefault.jpg"></img>
              <div class="list-live-iteam__view">5N Người xem</div>
              <div class="list-live-iteam__title">Trực tiếp</div>
              <div class="list-live-iteam__coating"></div>
              <i class="list-live-iteam__play fas fa-play"></i>
            </div>
            <div class="list-live-iteam__body">
              <img
                src="https://yt3.ggpht.com/ytc/AKedOLSTnsBAZFdB4RwcHe4TSkvtw98T5HvQL-56Q1v8eg=s176-c-k-c0x00ffffff-no-rj"
                alt="" class="list-live-iteam__avatar">
              <div class="list-live-iteam__info">
                <div class="list-live-iteam__content">BNS2 Đại chiến Việt Hàn</div>
                <div class="list-live-iteam__name">Oppa iii</div>
              </div>
            </div>
          </a>
          <a class="list-live-iteam" href="/view/watching.html">
            <div class="list-live-iteam__header">
              <img class="list-live-iteam__img" src="http://img.youtube.com/vi/wvbJ2KQu0j0/maxresdefault.jpg"></img>
              <div class="list-live-iteam__view">666N Người xem</div>
              <div class="list-live-iteam__title">Trực tiếp</div>
              <div class="list-live-iteam__coating"></div>
              <i class="list-live-iteam__play fas fa-play"></i>
            </div>
            <div class="list-live-iteam__body">
              <img
                src="https://yt3.ggpht.com/ytc/AKedOLQBuXEEw0JAoH3qRaQIUDX_swZYayVI9symGBAvXg=s88-c-k-c0x00ffffff-no-rj"
                alt="" class="list-live-iteam__avatar">
              <div class="list-live-iteam__info">
                <div class="list-live-iteam__content">COMBAT "ĐỈNK KOUT" ĐẾN TỪ ANH 7</div>
                <div class="list-live-iteam__name">Optimus</div>
              </div>
            </div>
          </a>
          <a class="list-live-iteam" href="/view/watching.html">
            <div class="list-live-iteam__header">
              <img class="list-live-iteam__img" src="http://img.youtube.com/vi/knW7-x7Y7RE/maxresdefault.jpg"></img>
              <div class="list-live-iteam__view">29N Người xem</div>
              <div class="list-live-iteam__title">Trực tiếp</div>
              <div class="list-live-iteam__coating"></div>
              <i class="list-live-iteam__play fas fa-play"></i>
            </div>
            <div class="list-live-iteam__body">
              <img
                src="https://yt3.ggpht.com/ytc/AKedOLQUTCVb5f5qA8l-tqhkkOI_I4zJQ2Wu-6wTUyJTYg=s88-c-k-c0x00ffffff-no-rj-mo"
                alt="" class="list-live-iteam__avatar">
              <div class="list-live-iteam__info">
                <div class="list-live-iteam__content">SƠN TÙNG M-TP | HÃY TRAO CHO ANH</div>
                <div class="list-live-iteam__name">SƠN TÙNG M-TP</div>
              </div>
            </div>
          </a>
          <a class="list-live-iteam" href="/view/watching.html">
            <div class="list-live-iteam__header">
              <img class="list-live-iteam__img"
                src="https://i.ytimg.com/vi/X5mcY8ecs8I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWJaxNhLDVjqMqoH7wgCYMSfi8mw"></img>
              <div class="list-live-iteam__view">5N Người xem</div>
              <div class="list-live-iteam__title">Trực tiếp</div>
              <div class="list-live-iteam__coating"></div>
              <i class="list-live-iteam__play fas fa-play"></i>
            </div>
            <div class="list-live-iteam__body">
              <img
                src="https://yt3.ggpht.com/XVUsVVRCmngoCTq3AMcbLzFIoZx7vH6CicHX5cWyM7cU-4j-S6yxYPtcnb6RJBdYp0r7jgavhw=s68-c-k-c0x00ffffff-no-rj"
                alt="" class="list-live-iteam__avatar">
              <div class="list-live-iteam__info">
                <div class="list-live-iteam__content">Ahrix - Nova</div>
                <div class="list-live-iteam__name">Ahrix</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </main>



  <!-- <script src="./js/video.js"></script> -->
</body>

</html>