<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream Zone</title>

    <link rel="stylesheet" href="../../asset/css/base.css">
  <link rel="stylesheet" href="../../asset/css/grid.css">

    <link rel="stylesheet" href="../../asset/css/search-streamer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
      <div class="header">
            <a class="header__logo" href="/view/index.html">
                <i class="fab fa-stripe-s"></i>
                <div class="header__logo-sub-title">Zone</div>
            </a>
            <div class="header__navbar">
                <a class="header__navbar-item " href="/view/index.html">Trang chủ</a>         
                <a class="header__navbar-item " href="/view/allstream/allstream.html">Danh sách phát</a>          
                <a class="header__navbar-item" href="/view/category/category.html">Danh mục</a>
                <a class="header__navbar-item " href="/view/event.html">Sự kiện</a>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Search" class="header__search-input" />
                <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
                <button class="header__search-button">
                    <a href="/view/search/search-total.html">
                        <i class="fas fa-search"></i>
                        <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
                    </a>
                </button>
            </div>
            <div class="header__user">
                <button class="header__user-login-button style-btn-normal">
                Log in
                </button>
                <button class="header__user-signup-button style-btn-normal style-btn-hover">
                    Sign up
                </button>
            </div>
        </div> 
    <main>
        <div class="top-nav grid wide">
            <ul>
                <li><a href="./search-total.html">Chung</a></li>
                <li><a href="./search-game.html">Trò chơi</a></li>
                <li><a href="./search-streamer.html">Streamer</a></li>
                <li><a href="./search-live.html">Trực tiếp</a></li>
            </ul>
        </div>
        <div class="grid wide main-content">
            <div class="main-content__steamer">
                <div class="title-bar">
                    <div class="title-bar__title">Streamer</div>
                </div>
                <div class="list-streamer">
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/1629525216560/202105271622076642921_1629525216560_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">AE TAHANBADAN</div>
                    <div class="list-streamer-iteam__follow">5N người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'" 
                      src="https://img.nimo.tv/t/201908041564955207812_2459511637126_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">Piuzinho</div>
                    <div class="list-streamer-iteam__follow">4322N người theo dõi</div>
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">MixiGaming</div>
                    <div class="list-streamer-iteam__follow">16N người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201909011567349522046_1999512939992_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">Doch</div>
                    <div class="list-streamer-iteam__follow">10N người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/1629512376778/202108071628339974011_1629512376778_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">CGGG</div>
                    <div class="list-streamer-iteam__follow">89N người theo dõi</div>
                  </div>
                </div>
                <div class="list-streamer">
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/1629525216560/202105271622076642921_1629525216560_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">AE TAHANBADAN</div>
                    <div class="list-streamer-iteam__follow">5 Tr người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'" 
                      src="https://img.nimo.tv/t/201908041564955207812_2459511637126_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">Piuzinho</div>
                    <div class="list-streamer-iteam__follow">4 Tr người theo dõi</div>
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">MixiGaming</div>
                    <div class="list-streamer-iteam__follow">166 N người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201909011567349522046_1999512939992_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">Doch</div>
                    <div class="list-streamer-iteam__follow">10 N người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/1629512376778/202108071628339974011_1629512376778_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">CGGG</div>
                    <div class="list-streamer-iteam__follow">8 N người theo dõi</div>
                  </div>
                </div>
                <div class="list-streamer">
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/1629525216560/202105271622076642921_1629525216560_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">AE TAHANBADAN</div>
                    <div class="list-streamer-iteam__follow">5N người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201908041564955207812_2459511637126_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">Piuzinho</div>
                    <div class="list-streamer-iteam__follow">432N người theo dõi</div>
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">MixiGaming</div>
                    <div class="list-streamer-iteam__follow">16 người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/201909011567349522046_1999512939992_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">Doch</div>
                    <div class="list-streamer-iteam__follow">10 người theo dõi</div>
        
                  </div>
                  <div href="/view/channel/channel.html" class="list-streamer-iteam">
                    <div class="list-streamer-iteam__img">
                      <img onclick="location.href='/view/channel/channel.html'"
                      src="https://img.nimo.tv/t/1629512376778/202108071628339974011_1629512376778_avatar.png/w240_l0/img.png"
                      alt="StreamZone" class="loading" data-was-processed="true">
                    </div>
                    <div class="list-streamer-iteam__name" onclick="location.href='/view/channel/channel.html'">CGGG</div>
                    <div class="list-streamer-iteam__follow">8 người theo dõi</div>
                  </div>
                </div>
            </div>


        </div>
    </main>



    <!-- <script src="./js/video.js"></script> -->
</body>

</html>