<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stream Zone</title>

  <link rel="stylesheet" href="../../asset/css/base.css">
  <link rel="stylesheet" href="../../asset/css/grid.css">
  <link rel="stylesheet" href="../../asset/css/search-game.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <nav class="header">
    <div class="header__logo"></div>
    <div class="header__events-and-tournaments">
      <a href="#">Events</a>
      <a href="#">Tournaments</a>
    </div>
    <div class="header__search">
      <input type="text" placeholder="Search" class="header__search-input"
        onkeypress="if(event.key == 'Enter') location.href='./search-total.html'" />
      <button class="header__search-button style-btn-normal style-btn-hover"
        onclick="location.href='./search-total.html'">
        <img src="../../images/search-solid.svg" alt="search" width="20px" />
      </button>
    </div>
    <div class="header__user">
      <button class="header__user-login-button style-btn-normal" onclick="location.href='../login.html'">Log in</button>
      <button class="header__user-signup-button style-btn-normal style-btn-hover"
        onclick="location.href='../sign-up.html'">Sign up</button>
    </div>
  </nav>
  <main>
    <div class="top-nav grid wide">
      <ul>
        <li><a href="./search-total.html">Chung</a></li>
        <li><a href="./search-game.html">Trò chơi</a></li>
        <li><a href="./search-streamer.html">Streamer</a></li>
        <li><a href="./search-live.html">Trực tiếp</a></li>
      </ul>
    </div>
    <div class="grid wide">
      <div class="main-content__game">
        <div class="title-bar">
          <div class="title-bar__title">Trò chơi</div>
          <!-- <a class="title-bar__active" href="#"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a> -->
        </div>
        <div class="list-game">
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">GATA5</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                data-src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Play Together</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">ConsoleGames</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">MOBA</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Juegos de consola</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">FBS GAME</div>
          </div>
        </div>
        <div class="list-game">
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">GATA5</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                data-src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Play Together</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">ConsoleGames</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">MOBA</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Juegos de consola</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">FBS GAME</div>
          </div>
        </div>
        <div class="list-game">
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">GATA5</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                data-src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Play Together</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">ConsoleGames</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">MOBA</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">Juegos de consola</div>
          </div>
          <div class="list-game-iteam">
            <div class="list-game-iteam__img">
              <img
                src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
                alt="StreamZone" class="loaded" data-was-processed="true">
            </div>
            <div class="list-game-iteam__name">FBS GAME</div>
          </div>
        </div>
      </div>


    </div>
  </main>



  <!-- <script src="./js/video.js"></script> -->
</body>

</html>