<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/asset/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/asset/css/base.css">
    <link rel="stylesheet" href="/asset/css/grid.css">
    <link rel="stylesheet" href="/asset/css/allstream.css">
    
</head>
<body>
     <div class="header">
            <a class="header__logo" href="/view/index.html">
                <i class="fab fa-stripe-s"></i>
                <div class="header__logo-sub-title">Zone</div>
            </a>
            <div class="header__navbar">
                <a class="header__navbar-item " href="/view/index.html">Trang chủ</a> 
                <a class="header__navbar-item active" href="/view/allstream/allstream.html">Danh sách phát</a>          
                <a class="header__navbar-item " href="/view/category/category.html">Danh mục</a>
                <a class="header__navbar-item " href="/view/event.html">Sự kiện</a>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Search" class="header__search-input" />
                <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
                <button class="header__search-button">
                    <a href="/view/search/search-total.html">
                        <i class="fas fa-search"></i>
                        <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
                    </a>
                </button>
            </div>
            <div class="header__user">
                <a href="/view/login.html">
                    <button class="header__user-login-button style-btn-normal">
                    Log in
                    </button>
                </a>
                <a href="./view/signup.html">
                    <button class="header__user-signup-button style-btn-normal style-btn-hover">
                        Sign up
                    </button>
                </a>
            </div>
        </div> 
    <div class="app grid wide">
        <div class="title">
            Đang Live
        </div>
        <div class="category row__size">
            <a href="./allstream.html">
                <button class="category-btn ">Thịnh hành</button>
            </a>
            <a href="./allstream-topview.html">
                <button class="category-btn ">Top View</button>
            </a>
            <a href="./allstream-topfollow.html">
                <button class="category-btn category-btn--active">Top Follow</button>
            </a>
        </div>
        <div class="list-stream">
            <div class="row">
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item">
                        <div class="stream-item__header" onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img" src="https://i.ytimg.com/vi/Urs372wBzhQ/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBZsGtB8dAVq78QjqVYOqTTCaaLNg"></img>
                            <div class="stream-item__view">533 Người xem</div>
                            <div class="stream-item__title">Trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://yt3.ggpht.com/ytc/AKedOLTce9AESjQbBeWL4n-Rgg1_LotormApxgfm3i2vRw=s68-c-k-c0x00ffffff-no-rj" 
                            alt="" class="stream-item__avatar" onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">Sucker for you</div>
                                <div class="stream-item__name" onclick="location.href='/view/channel/channel.html'">Chillhoods Tracks</div>
                                <div class="stream-item__topic">
                                    <div class="stream-item__topic-item">Music</div>
                                </div>
        
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item">
                        <div class="stream-item__header" onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                            <div class="stream-item__view">989 Người xem</div>
                            <div class="stream-item__title">Trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                            alt="" class="stream-item__avatar" onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">Mood</div>
                                <div class="stream-item__name" onclick="location.href='/view/channel/channel.html'">Dusk Music</div>
                                <div class="stream-item__topic">
                                    <div class="stream-item__topic-item">LOL</div>
                                    <div class="stream-item__topic-item">Game</div>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item">
                        <div class="stream-item__header" onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img"
                                src="https://i.ytimg.com/vi/X5mcY8ecs8I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWJaxNhLDVjqMqoH7wgCYMSfi8mw"></img>
                            <div class="stream-item__view">989 Người xem</div>
                            <div class="stream-item__title">Trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://yt3.ggpht.com/z3WC_JOv5ujLnu2OKeGsqSBRUl1qfn2fRAPpwJRj1uN4QW7x9CAx5LFswDm1MjZ7lrkBzYc07Kg=s88-c-k-c0x00ffffff-no-rj"
                                alt="" class="stream-item__avatar" onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">Ahrix - Nova</div>
                                <div class="stream-item__name" onclick="location.href='/view/channel/channel.html'">Ahrix</div>
                                <div class="stream-item__topic">
                                    <div class="stream-item__topic-item">Music</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item">
                        <div class="stream-item__header" onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/VGgMPO0pl-Y/maxresdefault.jpg"></img>
                            <div class="stream-item__view">11N Người xem</div>
                            <div class="stream-item__title">Trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://yt3.ggpht.com/ytc/AKedOLReGiW5-_hh87Fp6s-g_nBxCy0W7si7_OZonKSP=s88-c-k-c0x00ffffff-no-rj" 
                            alt="" class="stream-item__avatar" onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">giải đấu PUBG thế giới PGC 2021</div>
                                <div class="stream-item__name" onclick="location.href='/view/channel/channel.html'">500 BROS</div>
                                <div class="stream-item__topic">
                                    <div class="stream-item__topic-item">PUBG</div>
                                    <div class="stream-item__topic-item">Game</div>
                                </div>
        
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item">
                        <div class="stream-item__header" onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/Kp8RQ9fiH-M/maxresdefault.jpg"></img>
                            <div class="stream-item__view">11N Người xem</div>
                            <div class="stream-item__title">Trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://yt3.ggpht.com/ytc/AKedOLSTnsBAZFdB4RwcHe4TSkvtw98T5HvQL-56Q1v8eg=s176-c-k-c0x00ffffff-no-rj" 
                            alt="" class="stream-item__avatar" onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">BNS2 Đại chiến Việt Hàn</div>
                                <div class="stream-item__name" onclick="location.href='/view/channel/channel.html'">Oppa iii</div>
                                <div class="stream-item__topic">
                                    <div class="stream-item__topic-item">Blade and Soul 2</div>
                                    <div class="stream-item__topic-item">Game</div>
                                </div>
        
                            </div>
                        </div>
                    </div>  
                </div>
                
                <div class="col l-3 m-4 c-6">
                    <div class="stream-item">
                        <div class="stream-item__header" onclick="location.href='/view/watching.html'">
                            <img class="stream-item__img" src="http://img.youtube.com/vi/wVlXTNO9jOQ/maxresdefault.jpg"></img>
                            <div class="stream-item__view">11N Người xem</div>
                            <div class="stream-item__title">Trực tiếp</div>
                            <div class="stream-item__coating"></div>
                            <i class="stream-item__play fas fa-play"></i>
                        </div>
                        <div class="stream-item__body">
                            <img src="https://yt3.ggpht.com/ytc/AKedOLQC1yRg0N1TGkxh_iNNBsKRc5ZpCiIvxTawQ0eVag=s88-c-k-c0x00ffffff-no-rj" 
                            alt="" class="stream-item__avatar" onclick="location.href='/view/watching.html'">
                            <div class="stream-item__info">
                                <div class="stream-item__content" onclick="location.href='/view/watching.html'">(GTA V) Ngày chơi chẵn lẻ đen đủi của anh lễ tân MixiMoi.</div>
                                <div class="stream-item__name" onclick="location.href='/view/channel/channel.html'">Mixi Gaming</div>
                                <div class="stream-item__topic">
                                    <div class="stream-item__topic-item">GTA</div>
                                    <div class="stream-item__topic-item">Game</div>
                                </div>
        
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </div>
    <script>
        // Setting selector
        const $ = document.querySelector.bind(document)
        const $$ = document.querySelectorAll.bind(document)
        // Element
        const categorybtns = $$('.category-btn')

        // main 
        const app = {
            lives: [
              {
                  title:"",
                  name:"",
                    
              }
            ],
            handleEvent: function() {
                console.log(categorybtns)
                for (const key of categorybtns) {
                    console.log(key)
                    key.onclick = function(e) {
                        var btnTargetBefore = $('.category-btn--active')
                        console.log(btnTargetBefore)
                        console.log(e.target)
                        btnTargetBefore.classList.remove('category-btn--active')
                        e.target.classList.add('category-btn--active')
                    }
                } 
            },
            start: function() {
                this.handleEvent()
            }
        }
        app.start()
    </script>
</body>
</html>