<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../asset/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../../asset/css/base.css">
    <link rel="stylesheet" href="../../asset/css/grid.css">
    <link rel="stylesheet" href="../../asset/css/category.css">
</head>

<body>
    <div class="app row__size">
        <div class="grid wide">
            <div class="title">
                Danh mục
            </div>
            <div class="category-group">
                <div class="category-group__alltab">
                    <a href="/view/category/category.html">
                        <button class="category-group__btn category-group__btn--active">Toàn bộ</button>     
                    </a>
                    <a href="/view/category/category-pc-game.html">
                        <button class="category-group__btn">Game PC </button>     
                    </a>
                    <a href="/view/category/category-mb-game.html">
                        <button class="category-group__btn">Game Mobile</button>     
                    </a>
                    <a href="/view/category/category-relax.html">
                        <button class="category-group__btn">Giải trí</button>     
                    </a>
                </div>
                <!-- <div class="category-group__filter">
                            <div class="category-group__filter-title">Sắp xếp theo</div>
                            <select class="category-group__filter-selection">
                                <option value="category-group__filter-item1" class="category-group__filter-item">
                                    Đề xuất cho bạn</option>
                                <option value="category-group__filter-item2" class="category-group__filter-item">
                                    Lượng xem (cao tới thấp)</option>
                                <option value="category-group__filter-item3" class="category-group__filter-item">
                                    Lượng xem (thấp tới cao)</option>
                            </select>
                        </div> -->
            </div>
            <div class="category row">
                <div class="col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/CB5F66204E8B6FDBDD052B6FE8EBAF05_Pubgmobile.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">PUBG MOBILE</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/AC70B1B584EB3EC028D36B90A0DD1932_PESMobile.png/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Pes</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/E524D3A4150BCB94CCB8835142508A76_FreeFire.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Free Fire</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/65C363DBB6FE3252E9009F53E93FB47A_team.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">TFT</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/61DC05D165132FC9B7394AB8E8E1C6AC_9dbe8d5540d0886d06ba44bc4d0e992c.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Ghen Shin</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/D09CD8411936B13CF08C2539D3B40317_58f2f37a2344aed8e100b3f240a5bb04.png/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Liên Quân</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
            
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/61DC05D165132FC9B7394AB8E8E1C6AC_9dbe8d5540d0886d06ba44bc4d0e992c.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Ghen Shin</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
            
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/61DC05D165132FC9B7394AB8E8E1C6AC_9dbe8d5540d0886d06ba44bc4d0e992c.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Ghen Shin</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
            
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/DD32D5B48663891CE87978F262E2FA41_LOL.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">Liên Minh Huyền Thoại</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/DD32D5B48663891CE87978F262E2FA41_LOL.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">Liên Minh Huyền Thoại</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/DD32D5B48663891CE87978F262E2FA41_LOL.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">Liên Minh Huyền Thoại</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/DD32D5B48663891CE87978F262E2FA41_LOL.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">Liên Minh Huyền Thoại</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/DD32D5B48663891CE87978F262E2FA41_LOL.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">Liên Minh Huyền Thoại</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/65C363DBB6FE3252E9009F53E93FB47A_team.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">TFT</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/65C363DBB6FE3252E9009F53E93FB47A_team.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">TFT</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/65C363DBB6FE3252E9009F53E93FB47A_team.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">TFT</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/65C363DBB6FE3252E9009F53E93FB47A_team.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">TFT</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class=" col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/65C363DBB6FE3252E9009F53E93FB47A_team.jpg/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">TFT</div>
                        <div class="category-item__view">12N người xem</div>
                    </div>
                </div>
                <div class="col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/7312418392AD38C69BA2D666BE7071AD_4ae75ac434ef123a99939f231757ccba.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Ragnarok</div>
                        <div class="category-item__view">7N người xem</div>
                    </div>
                </div>
                <div class="col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/game/CA20B74C0DF9E8494ADE3907A569AB05_Realmofvalor.png/w500_l0/img.webp" alt=""
                            class="category-item__img">
                        <div class="category-item__name">ROV</div>
                        <div class="category-item__view">1N người xem</div>
                    </div>
                </div>
                <div class="col l-2 m-4 c-6">
                    <div class="category-item ">
                        <img src="https://img.nimo.tv/o/banner/907E352061A6EE3EF4E58A9B74F4E649_71e179563a513bbb7293c831593c0ed1.jpg/w500_l0/img.webp"
                            alt="" class="category-item__img">
                        <div class="category-item__name">Tốc chiến</div>
                        <div class="category-item__view">17N người xem</div>
                    </div>
                </div>
            
            </div>
        </div>
        
    </div>

</body>

</html>