<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../asset/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../../asset/css/base.css">
    <link rel="stylesheet" href="../../asset/css/grid.css">
    <link rel="stylesheet" href="../../asset/css/category-item.css">
</head>

<body>
    <div class="app">
        <div class="grid wide">
            <div class="item__header">
                <div class="item__header-img"></div>
            </div>
            <div class="live">
                <div class="live__header">
                    <div class="live__title">Valorant</div>
                    <div class="live__navbar">
                        <button class="btn-navbar-item active live__navbar-item">Tất cả</button>
                        <button class="btn-navbar-item live__navbar-item">Giải đấu</button>
                        <button class="btn-navbar-item live__navbar-item">Thông thường</button>
                    </div>
                </div>
                
                <div class="live__list">
                    <div class="row">
                        <div class="col l-3 m-4 c-6">
                            <div class="stream-item">
                                <div class="stream-item__header">
                                    <img class="stream-item__img"
                                        src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                                    <div class="stream-item__view">989 Người xem</div>
                                    <div class="stream-item__title">Trực tiếp</div>
                                    <div class="stream-item__coating"></div>
                                    <i class="stream-item__play fas fa-play"></i>
                                </div>
                                <div class="stream-item__body">
                                    <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj"
                                        alt="" class="stream-item__avatar">
                                    <div class="stream-item__info">
                                        <div class="stream-item__content">Mood</div>
                                        <div class="stream-item__name">Dusk Music</div>
                                        <div class="stream-item__topic">
                                            <div class="stream-item__topic-item">LOL</div>
                                            <div class="stream-item__topic-item">Game</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="stream-item">
                                <div class="stream-item__header">
                                    <img class="stream-item__img"
                                        src="https://i.ytimg.com/vi/X5mcY8ecs8I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWJaxNhLDVjqMqoH7wgCYMSfi8mw"></img>
                                    <div class="stream-item__view">989 Người xem</div>
                                    <div class="stream-item__title">Trực tiếp</div>
                                    <div class="stream-item__coating"></div>
                                    <i class="stream-item__play fas fa-play"></i>
                                </div>
                                <div class="stream-item__body">
                                    <img src="https://yt3.ggpht.com/XVUsVVRCmngoCTq3AMcbLzFIoZx7vH6CicHX5cWyM7cU-4j-S6yxYPtcnb6RJBdYp0r7jgavhw=s68-c-k-c0x00ffffff-no-rj"
                                        alt="" class="stream-item__avatar">
                                    <div class="stream-item__info">
                                        <div class="stream-item__content">Ahrix - Nova</div>
                                        <div class="stream-item__name">Ahrix</div>
                                        <div class="stream-item__topic">
                                            <div class="stream-item__topic-item">Music</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col l-3 m-4 c-6">
                            <div class="stream-item">
                                <div class="stream-item__header">
                                    <img class="stream-item__img"
                                        src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                                    <div class="stream-item__view">989 Người xem</div>
                                    <div class="stream-item__title">Trực tiếp</div>
                                    <div class="stream-item__coating"></div>
                                    <i class="stream-item__play fas fa-play"></i>
                                </div>
                                <div class="stream-item__body">
                                    <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj"
                                        alt="" class="stream-item__avatar">
                                    <div class="stream-item__info">
                                        <div class="stream-item__content">Mood</div>
                                        <div class="stream-item__name">Dusk Music</div>
                                        <div class="stream-item__topic">
                                            <div class="stream-item__topic-item">LOL</div>
                                            <div class="stream-item__topic-item">Game</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="stream-item">
                                <div class="stream-item__header">
                                    <img class="stream-item__img"
                                        src="https://i.ytimg.com/vi/X5mcY8ecs8I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWJaxNhLDVjqMqoH7wgCYMSfi8mw"></img>
                                    <div class="stream-item__view">989 Người xem</div>
                                    <div class="stream-item__title">Trực tiếp</div>
                                    <div class="stream-item__coating"></div>
                                    <i class="stream-item__play fas fa-play"></i>
                                </div>
                                <div class="stream-item__body">
                                    <img src="https://yt3.ggpht.com/XVUsVVRCmngoCTq3AMcbLzFIoZx7vH6CicHX5cWyM7cU-4j-S6yxYPtcnb6RJBdYp0r7jgavhw=s68-c-k-c0x00ffffff-no-rj"
                                        alt="" class="stream-item__avatar">
                                    <div class="stream-item__info">
                                        <div class="stream-item__content">Ahrix - Nova</div>
                                        <div class="stream-item__name">Ahrix</div>
                                        <div class="stream-item__topic">
                                            <div class="stream-item__topic-item">Music</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="stream-item">
                                <div class="stream-item__header">
                                    <img class="stream-item__img"
                                        src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                                    <div class="stream-item__view">989 Người xem</div>
                                    <div class="stream-item__title">Trực tiếp</div>
                                    <div class="stream-item__coating"></div>
                                    <i class="stream-item__play fas fa-play"></i>
                                </div>
                                <div class="stream-item__body">
                                    <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj"
                                        alt="" class="stream-item__avatar">
                                    <div class="stream-item__info">
                                        <div class="stream-item__content">Mood</div>
                                        <div class="stream-item__name">Dusk Music</div>
                                        <div class="stream-item__topic">
                                            <div class="stream-item__topic-item">LOL</div>
                                            <div class="stream-item__topic-item">Game</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col l-3 m-4 c-6">
                            <div class="stream-item">
                                <div class="stream-item__header">
                                    <img class="stream-item__img"
                                        src="https://i.ytimg.com/vi/X5mcY8ecs8I/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLAWJaxNhLDVjqMqoH7wgCYMSfi8mw"></img>
                                    <div class="stream-item__view">989 Người xem</div>
                                    <div class="stream-item__title">Trực tiếp</div>
                                    <div class="stream-item__coating"></div>
                                    <i class="stream-item__play fas fa-play"></i>
                                </div>
                                <div class="stream-item__body">
                                    <img src="https://yt3.ggpht.com/XVUsVVRCmngoCTq3AMcbLzFIoZx7vH6CicHX5cWyM7cU-4j-S6yxYPtcnb6RJBdYp0r7jgavhw=s68-c-k-c0x00ffffff-no-rj"
                                        alt="" class="stream-item__avatar">
                                    <div class="stream-item__info">
                                        <div class="stream-item__content">Ahrix - Nova</div>
                                        <div class="stream-item__name">Ahrix</div>
                                        <div class="stream-item__topic">
                                            <div class="stream-item__topic-item">Music</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            
            </div>
        </div>

    </div>
</body>
