<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../asset/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../../asset/css/base.css">
    <link rel="stylesheet" href="../../asset/css/grid.css">
    <link rel="stylesheet" href="../../asset/css/chatbox.css">
    <!-- <link rel="stylesheet" href="../../asset/css/header.css"> -->

</head>
<body>
    <div class="app">
        <div class="content">
            <!-- HEADER CHAT BOX -->
            <div class="chat__header frames">
                <div class="chat__header-title">Chat Box</div>
            </div>
            <!-- CHAT BOX -->
            <div class="chatbox">
                <!-- SHOW LIVE CHAT -->
                <div class="chatbox__livechat">
                    <div class="chatbox__chat-item">
                        <div class="chatbox__chat-item-name">TuanN</div>
                        <div class="chatbox__chat-item-content">hello</div>
                    </div>
                    <div class="chatbox__chat-item">
                        <div class="chatbox__chat-item-name">TuanN</div>
                        <div class="chatbox__chat-item-content">hiiiiiiiiiiii
                        </div>
                    </div>
                    <div class="chatbox__chat-item">
                        <div class="chatbox__chat-item-name">TuanN</div>
                        <div class="chatbox__chat-item-content">alo alo 1 2 3 4 5 6 7 8 9 10
                        </div>
                    </div>
                    <div class="chatbox__chat-item">
                        <div class="chatbox__chat-item-name">TuanN</div>
                        <div class="chatbox__chat-item-content">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaaa
                        aaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaa </div>
                    </div>
                </div>
                <!-- FOOTER CHAT -->
                <div class="chatbox__footer">
                    <!-- INFOMATION USER -->
                    <div class="chatbox__user">
                        Dat09
                    </div>
                    <!-- ENTER CHAT -->
                    <div class="chatbox__enter">
                        <input class="chatbox__enter-input" placeholder="Nói gì đó..."></input>
                        <button class="chatbox__enter-send">Gửi</>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
