<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <!-- <title>Neumorphism Login Form UI | CodingNepal</title> -->
   <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> -->

   <link rel="stylesheet" href="../asset/css/foget-pass.css">
   <link rel="stylesheet" href="../asset/css/base.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
   <div class="content">
      <header>
         <div class="header__title">
            Quên Mật Khẩu
         </div>
      </header>
      <div class="container">
         <form>
             <div class="notify-pin">
               <a href="#" class="notify-pin__text">Nhập mã pin đã chúng tôi vừa gửi cho bạn!</a>
            </div>
             <div class="input-acc__pin">
               <input class="input-acc__pin-input" type="password" required>
               <div class="input-acc__pin-icon">
                  
               </div>
               <label class="input-acc__pin-lb">Nhập mã PIN</label>
            </div>
            <div class="notify-pass">
                <a href="#" class="notify-pass__text">Nhập mật khẩu mới và xác nhận mật khẩu!</a>
             </div>
            <div class="input-acc__pass">
               <input class="input-acc__pass-input" type="password" required>
               <div class="input-acc__pass-icon">
                  <span class="fas fa-lock"></span>
               </div>
               <label class="input-acc__pass-lb">Mật khẩu</label>
            </div>
            <div class="input-acc__pre-pass">
               <input class="input-acc__pre-pass-input" type="password" required>
               <div class="input-acc__pre-pass-icon">
                  <span class="fas fa-undo-alt"></span>
               </div>
               <label class="input-acc__pre-pass-lb">Nhập lại mật khẩu</label>
            </div>
            
            <div class="confirm">
               <button class="confirm__button">Xác nhận</button>
            </div>
         </form>
        </div>
   </div>
</body>

</html>