<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream Zone</title>

    <link rel="stylesheet" href="./css/master.css" />
    <link rel="stylesheet" href="./css/styles-index.css" />
    <link rel="stylesheet" href="./css/layout.css" />
    <link rel="stylesheet" href="./css/video.css" />
    <link rel="stylesheet" href="./css/reset.css" />
  </head>
  <body>
    <nav class="top-nav">
      <div class="logo"></div>
      <div class="events-and-tournaments">
        <a href="#">Events</a>
        <a href="#">Tournaments</a>
      </div>
      <div class="search">
        <input type="text" placeholder="Search" class="search-input" />
        <button class="button search-button secondary-button">
          <img src="./images/search-solid.svg" alt="search" width="20px" />
        </button>
      </div>
      <div class="login-and-signup">
        <button class="login-button button">Log in</button>
        <button class="signup-button button secondary-button">Sign up</button>
      </div>
    </nav>
    <main>
      <div class="side-nav">
        <div class="quick-nav-channel__list">
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
        </div>
      </div>
      <div class="main-content">
        <div class="live">
          <div class="live__player">
            <div class="video-container">
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <!-- <div class="control">
                <div class="play-and-volume">
                  <button class="play-button">
                    <img src="./images/play-solid.svg" alt="" width="15px" />
                  </button>
                </div>
                <div class="func-and-full-screen">
                  <button>
                    <img
                      src="./images/external-link-alt-solid.svg"
                      alt=""
                      width="15px"
                    />
                  </button>
                  <button class="full-screen-button">
                    <img src="./images/expand-solid.svg" alt="" width="15px" />
                  </button>
                </div>
              </div> -->
            </div>
          </div>
          <div class="live__list">
            <!-- xypzmu5mMPY -->
            <div class="live__item">
              <img src="http://img.youtube.com/vi/MRbB6B0fjhk/hqdefault.jpg" alt="">
            </div>
            <div class="live__item">
              <img src="http://img.youtube.com/vi/xypzmu5mMPY/hqdefault.jpg" alt="">
            </div>
            <div class="live__item">
              <img src="http://img.youtube.com/vi/IPfJnp1guPc/hqdefault.jpg" alt="">
            </div>
            <div class="live__item">
              <img src="http://img.youtube.com/vi/7FtXrqq1He8/hqdefault.jpg" alt="">
            </div>
            <div class="live__item">
              <img src="http://img.youtube.com/vi/WzzcgUpI1kU/hqdefault.jpg" alt="">
            </div>
            <div class="live__item">
              <img src="http://img.youtube.com/vi/MRbB6B0fjhk/hqdefault.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="popular-channels">
          <h2>Nổi bật</h2>
          <div class="list">
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
            <div class="avatar hoverable-item"></div>
          </div>
        </div>
        <div class="recommend">
          <h2>Đề xuất</h2>
          <div class="list">
            <div class="video hoverable-item"></div>
            <div class="video hoverable-item"></div>
            <div class="video hoverable-item"></div>
            <div class="video hoverable-item"></div>
            <div class="video hoverable-item"></div>
            <div class="video hoverable-item"></div>
            <div class="video hoverable-item"></div>
          </div>
        </div>
        <div class="category">
          <h2>Danh mục</h2>
          <div class="list">
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
            <div class="category-item hoverable-item"></div>
          </div>
        </div>
      </div>
    </main>
    <script src="./js/video.js"></script>
  </body>
</html>
