<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <!-- <title>Neumorphism Login Form UI | CodingNepal</title> -->
   <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> -->

   <link rel="stylesheet" href="../asset/css/base.css">
   <link rel="stylesheet" href="../asset/css/login.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
   <div class="content">
      <header>
         <div class="header__title">
            Đăng nhập
         </div>
      </header>
      <div class="container">
         <form method="get" action="./index-logged.html">
            <div class="input-acc__name">
               <input class="input-acc__name-input" type="text" required>
               <div class="input-acc__name-icon">
                  <span class="fas fa-user"></span>
               </div>
               <label class="input-acc__name-lb">Tên đăng nhập</label>
            </div>
            <div class="input-acc__pass">
               <input class="input-acc__pass-input" type="password" required>
               <div class="input-acc__pass-icon">
                  <span class="fas fa-lock"></span>
               </div>
               <label class="input-acc__pass-lb">Mật khẩu</label>
            </div>
            <div class="forgot-pass">
               <a href="./foget-pass.html" class="forgot-pass__text"> Quên mật khẩu?</a>
            </div>
            <div class="login">
               <button class="login__button" type="submit">Đăng nhập</button>
            </div>
            <div class="login-other">
               <p class="login-other__text">
                  Hoặc đăng nhập bằng
               </p> 
               <ul class="login-other__group-icon">
                  <li class="login-other__icon--face"><i class="fab fa-facebook" onclick="location.href='./index-logged.html'"></i></li>
                  <li class="login-other__icon--twitter"><i class="fab fa-twitter-square" onclick="location.href='./index-logged.html'"></i></li>
                  <li class="login-other__icon--google"><i class="fab fa-google-plus-square" onclick="location.href='./index-logged.html'"></i></li>
               </ul>
            </div>
         </form>
      </div>
      <div class="footer">
         <div class="sign-up">
            Không có tài khoản?
            <a href="./sign-up.html">Đăng ký ngay</a>
         </div>
      </div>
   </div>
</body>

</html>