<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Stream Zone</title>

  <link rel="stylesheet" href="../css/reset.css" />
  <link rel="stylesheet" href="../css/master.css" />
  <link rel="stylesheet" href="../css/styles-index.css" /> 


  <link rel="stylesheet" href="../asset/css/base.css">
  <link rel="stylesheet" href="../asset/css/search-total.css">
  <link rel="stylesheet" href="../asset/css/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <nav class="header">
    <div class="header__logo"></div>
    <div class="header__events-and-tournaments">
      <a href="#">Events</a>
      <a href="#">Tournaments</a>
    </div>
    <div class="header__search">
      <input type="text" placeholder="Search" class="header__search-input" />
      <button class="header__search-btn button secondary-button">
        <img src="./images/search-solid.svg" alt="search" width="20px" />
      </button>
    </div>
    <div class="header__user">
      <button class="header__user-login-btn button">Log in</button>
      <button class="header__user-signup-btn button secondary-button">Sign up</button>
    </div>
  </nav>
  <main>
    <div class="top-nav">
      <ul>
        <li><a href="">Chung</a></li>
        <li><a href="">Trò chơi</a></li>
        <li><a href="">Steamer</a></li>
        <li><a href="">Trực tiếp</a></li>
      </ul>
    </div>
    <div class="main-content">
      <div class="main-content__game">
        <div class="title-bar">
          <div class="title-bar__title">Trò chơi</div>
          <a class="title-bar__active" href="#"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="list">
          <div class="iteam">
            <img src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
              data-src="https://img.nimo.tv/o/banner/4F5001B3D1DDBABB8F2C9E0567B4F6BF_GTA5.jpg/w400_l0/img.jpg"
              alt="Nimo TV" class="loaded" data-was-processed="true">
            <p>GATA5</p>
          </div>
          <div class="iteam">
            <img
              src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
              data-src="https://img.nimo.tv/o/banner/675F6DD84822482F277AD7E99FB71A7_67AD7E99FB71A7othergamecover.png/w400_l0/img.png"
              alt="Nimo TV" class="loaded" data-was-processed="true">
            <p>Play Together</p>
          </div>
          <div class="iteam">
            <img
              src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
              data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
              alt="Nimo TV" class="loaded" data-was-processed="true">
            <p>ConsoleGames</p>
          </div>
          <div class="iteam">
            <img
              src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
              data-src="https://img.nimo.tv/o/banner/45072FC7A194B241D0F1817CD841A058_71e179563a513bbb7293c831593c0ed1.jpg/w400_l0/img.jpg"
              alt="Nimo TV" class="loaded" data-was-processed="true">
            <p>MOBA</p>
          </div>
          <div class="iteam">
            <img
              src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
              data-src="https://img.nimo.tv/o/banner/41593A0895E3697E4F84E1C870018167_4ae75ac434ef123a99939f231757ccba.jpg/w400_l0/img.jpg"
              alt="Nimo TV" class="loaded" data-was-processed="true">
            <p>Juegos de consola</p>
          </div>
          <div class="iteam">
            <img
              src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
              data-src="https://img.nimo.tv/o/banner/B205B1A2DCBA636F7D4ECB52B7FFD0C4_31127821ac78d98ecfdb6cd2d6f7d824.jpg/w400_l0/img.jpg"
              alt="Nimo TV" class="loaded" data-was-processed="true">
            <p>FBS GAME</p>
          </div>
        </div>
      </div>
      <div class="main-content__steamer">
        <div class="title-bar">
          <div class="title-bar__title">Steamer</div>
          <a class="title-bar__active" href="#"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="list">
          <div class="iteam">
            <img
              src="https://img.nimo.tv/t/1629525216560/202105271622076642921_1629525216560_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>AE TAHANBADAN</p>
          </div>
          <div class="iteam">
            <img src="https://img.nimo.tv/t/201908041564955207812_2459511637126_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>Piuzinho</p>
          </div>
          <div class="iteam">
            <img src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>MixiGaming</p>
          </div>
          <div class="iteam">
            <img src="https://img.nimo.tv/t/201909011567349522046_1999512939992_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>Doch</p>
          </div>
          <div class="iteam">
            <img
              src="https://img.nimo.tv/t/1629512376778/202108071628339974011_1629512376778_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>CGGG</p>
          </div>
        </div>
      </div>
      <div class="main-content__live">
        <div class="title-bar">
          <div class="title-bar__title">Trực tiếp</div>
          <a class="title-bar__active" href="#"> Xem tất cả
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
        <div class="list">
          <div class="iteam">
            <img
              src="https://img.nimo.tv/t/1629525216560/202105271622076642921_1629525216560_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>AE TAHANBADAN</p>
          </div>
          <div class="iteam">
            <img src="https://img.nimo.tv/t/201908041564955207812_2459511637126_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>Piuzinho</p>
          </div>
          <div class="iteam">
            <img src="https://img.nimo.tv/t/201907081562587247030_1599512126145_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>MixiGaming</p>
          </div>
          <div class="iteam">
            <img src="https://img.nimo.tv/t/201909011567349522046_1999512939992_avatar.png/w240_l0/img.png"
              alt="Nimo TV" class="loading" data-was-processed="true">
            <p>Doch</p>
          </div>

        </div>
      </div> 
    </div>
  </main>



  <!-- <script src="./js/video.js"></script> -->
</body>

</html>