<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <!-- <title>Neumorphism Login Form UI | CodingNepal</title> -->
   <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet"> -->

   <link rel="stylesheet" href="../asset/css/sign-up.css">
   <link rel="stylesheet" href="../asset/css/base.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
   <div class="content">
      <header>
         <div class="header__title">
            Đăng ký
         </div>
      </header>
      <div class="container">
         <form method="get" action="./index.html">
            <div class="input-acc__name">
                <input class="input-acc__name-input" type="text" required>
                <div class="input-acc__name-icon">
                   <span class="fas fa-user-circle"></span>
                </div>
                <label class="input-acc__name-lb">Họ và tên</label>
             </div>
            <div class="input-acc__name-acc">
               <input class="input-acc__name-acc-input" type="text" required>
               <div class="input-acc__name-acc-icon">
                  <span class="fas fa-user"></span>
               </div>
               <label class="input-acc__name-acc-lb">Tên đăng nhập</label>
            </div>
            <div class="input-acc__phone">
                <input class="input-acc__phone-input" type="text" required>
                <div class="input-acc__phone-icon">
                   <span class="fas fa-phone-alt"></span>
                </div>
                <label class="input-acc__phone-lb">Số điện thoại</label>
             </div>
             <div class="input-acc__email">
               <input class="input-acc__email-input" type="text" required>
               <div class="input-acc__email-icon">
                  <span class="fas fa-envelope"></span>
               </div>
               <label class="input-acc__email-lb">Email</label>
            </div>
            <div class="input-acc__pass">
               <input class="input-acc__pass-input" type="password" required>
               <div class="input-acc__pass-icon">
                  <span class="fas fa-lock"></span>
               </div>
               <label class="input-acc__pass-lb">Mật khẩu</label>
            </div>
            <div class="input-acc__pre-pass">
               <input class="input-acc__pre-pass-input" type="password" required>
               <div class="input-acc__pre-pass-icon">
                  <span class="fas fa-undo-alt"></span>
               </div>
               <label class="input-acc__pre-pass-lb">Nhập lại mật khẩu</label>
            </div>
            <!-- <div class="forgot-pass">
               <a href="#" class="forgot-pre-pass__text"> Quên mật khẩu?</a>
            </div> -->
            <div class="sign-up">
               <button class="sign-up__button" type="submit">Đăng ký</button>
            </div>
            <!-- <div class="sign-up-other">
               <p class="sign-up-other__text">
                  Đăng
               </p> 
               <ul class="sign-up-other__group-icon">
                  <li class="sign-up-other__icon--face"><i class="fab fa-facebook"></i></li>
                  <li class="sign-up-other__icon--twitter"><i class="fab fa-twitter-square"></i></li>
                  <li class="sign-up-other__icon--google"><i class="fab fa-google-plus-square"></i></li>
               </ul>
            </div> -->
         </form>
      </div>
      <div class="footer">
         <div class="login">
            Đã có tài khoản?
            <a href="./login.html">Đăng nhập ngay</a>
         </div>
      </div>
   </div>
</body>

</html>