<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nạp vàng</title>

    <link rel="stylesheet" href="../asset/css/top-up.css">
    <link rel="stylesheet" href="../asset/css/base.css">
    <link rel="stylesheet" href="../asset/css/grid.css">
    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
</head>
<body>
    <main class="main grid wide">
        <div class="balance">
            <span class="balance__label">Số dư tài khoản: </span>
            <span class="balance__amount">1234</span>
            <i class="fas fa-coins balance__icon"></i>
        </div>
        <div class="method">
            <p class="method__title">Phương thức thanh toán</p>
            <div class="method-list">
                <div class="method__wallet">
                    <img src="https://article.nimo.tv/img/channel_logo/40.png" class="method__wallet-logo">
                    <span class="method__wallet-title">Paypal</span>
                </div>
                <div class="method__wallet">
                    <img src="https://article.nimo.tv/img/channel_logo/91.png" class="method__wallet-logo">
                    <span class="method__wallet-title">VTC Pay</span>
                </div>
                <div class="method__wallet">
                    <img src="https://portal.vietcombank.com.vn/Resources/v3/img/logo.png" class="method__wallet-logo">
                    <span class="method__wallet-title">Vietcombank</span>
                </div>
            </div>
        </div>
        <div class="choose-amount">
            <p class="amount__title">Chọn số tiền nạp</p>
            <div class="amount__list">
                <div class="amount-item">
                    <span>10,000đ</span>
                </div>
                <div class="amount-item">
                    <span>20,000đ</span>
                </div>
                <div class="amount-item">
                    <span>50,000đ</span>
                </div>
                <div class="amount-item">
                    <span>100,000đ</span>
                </div>
                <div class="amount-item">
                    <span>200,000đ</span>
                </div>
                <div class="amount-item">
                    <span>500,000đ</span>
                </div>
                <div class="amount-item">
                    <span>1,000,000đ</span>
                </div>
                
            </div>
        </div>
        <div class="verify-amount">
            <div class="recharge-amount">
                <span class="balance__label">Số vàng được nạp thêm: </span>
                <span class="balance__amount">1234</span>
                <i class="fas fa-coins balance__icon"></i>
            </div>
            <button class="verify-button">
                <span class="button__title">Xác nhận nạp tiền</span>
            </button>
        </div>
        <div class="policy">
            <p class="navigation-policy">Nhấp “Xác nhận nạp tiền”，bạn được chuyển đến kênh nạp bên thứ 3.</p>
            <p class="policy-content">Khi nhấn xác nhận nạp, mặc định bạn đồng ý điều khoản Thỏa thuận và Chính sách bảo mật của Stream Zone</p>
        </div>
    </main>
</body>
</html>