<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stream Zone</title>

    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/master.css" />
    <link rel="stylesheet" href="../css/styles-watching.css" />
    <link rel="stylesheet" href="../css/video.css" />
    <link rel="stylesheet" href="../css/styles-index.css" />

    <link rel="stylesheet" href="../asset/css/base.css">
    <link rel="stylesheet" href="../asset/css/watching.css">
    <link rel="stylesheet" href="../asset/css/header.css">
</head>
<body>
    <nav class="header">
      <div class="header__logo"></div>
      <div class="header__events-and-tournaments">
        <a href="#">Events</a>
        <a href="#">Tournaments</a>
      </div>
      <div class="header__search">
        <input type="text" placeholder="Search" class="header__search-input" />
        <button class="header__search-btn button secondary-button">
          <img src="./images/search-solid.svg" alt="search" width="20px" />
        </button>
      </div>
      <div class="header__user">
        <button class="header__user-login-btn button">Log in</button>
        <button class="header__user-signup-btn button secondary-button">Sign up</button>
      </div>
    </nav>
    <main>
      <div class="side-nav">
        <div class="quick-nav-channel__list">
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
          <div class="channel-item hoverable-item"></div>
        </div>
      </div>
      <div class="main-content">
        <div class="interact-zone">
          <div class="stream-player">
            <div class="live__player">
              <div class="video-container">
                <!-- <video
                  class="video-playing"
                  src="./video/coffindance.mp4"
                ></video> -->
                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5qap5aO4i9A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <!-- <div class="control">
                  <div class="play-and-volume">
                    <button class="play-button">
                      <img src="./images/play-solid.svg" alt="" width="15px" />
                    </button>
                  </div>
                  <div class="func-and-full-screen">
                    <button class="setting-button">
                      <img src="./images/cog-solid.svg" alt="" width="15px" />
                    </button>
                    <button class="full-screen-button">
                      <img
                        src="./images/expand-solid.svg"
                        alt=""
                        width="15px"
                      />
                    </button>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="chat-box">
            <div class="chat-box__header">

            </div>
            <div class="chat-box__container">

            </div>
            <div class="chat-box__enter-chat">
              <input class="input chat-box__input" ></input>
              <button class="btn-send">Send</button>
            </div>
          </div>
        </div>
        <div class="title-and-donate"></div>
      </div>
    </main>
    <!-- <script src="./js/video.js"></script> -->
  </body>
</html>
