<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Watch</title>

        <link rel="stylesheet" href="../asset/css/base.css" />
        <link rel="stylesheet" href="../asset/css/watching-record.css" />
        <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../asset/css/grid.css" />

    </head>
    <body>
        <div class="header">
            <a class="header__logo" href="index.html">
                <i class="fab fa-stripe-s"></i>
                <div class="header__logo-sub-title">Zone</div>
            </a>
            <div class="header__navbar">
                <a class="header__navbar-item" href="/view/index.html">Trang chủ</a>          
                <a class="header__navbar-item" href="/view/allstream/allstream.html">Danh sách phát</a>          
                <a class="header__navbar-item" href="/view/category/category.html">Danh mục</a>
                <a class="header__navbar-item" href="/view/event.html">Sự kiện</a>
            </div>
            <div class="header__search">
                <input type="text" placeholder="Search" class="header__search-input" />
                <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
                <button class="header__search-button">
                    <a href="/view/search/search-total.html">
                        <i class="fas fa-search"></i>
                        <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
                    </a>
                </button>
            </div>
            <div class="header__user">
                <button class="header__user-login-button style-btn-normal">
                Log in
                </button>
                <button class="header__user-signup-button style-btn-normal style-btn-hover">
                    Sign up
                </button>
            </div>
        </div>
        <div class="app">
            <div class="grid wide">   
                <div class="interact">
                    <div class="video">
                        <div class="interact__title">
                            <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s88-c-k-c0x00ffffff-no-rj" class="interact__avatar">
                            <div class="title-container">
                            <div class="title-container__above">
                                <span>devzxje fan made stream highlights #3</span>
                                <div class="action">
                                <button class="title__button title__button-heart">
                                    <img src="../images/heart-solid.svg" alt="" />
                                </button>
                                <button class="title__button title__button-bell">
                                    <img src="../images/bell-regular.svg" alt="" />
                                </button>
                                </div>
                            </div>
                            <div class="title-container__below">
                                <span>Lofi Girl</span>
                                <div class="follower">
                                <span>67,546</span>
                                <span
                                    ><img src="../images/users-solid.svg" width="15px"
                                /></span>
                                </div>
                                <div class="viewer">
                                <span>12,345</span>
                                <span
                                    ><img src="../images/eye-solid.svg" width="15px"
                                /></span>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="main__live-player">
                            <div class="video-container">
                            <iframe
                                width="100%"
                                height="100%"
                                src="https://www.youtube.com/embed/kJsOBNIthOg?autoplay=1"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="main__chat-channel">
                    <!-- HEADER CHAT BOX -->
                        <div class="chat__header frames">
                            <div class="chat__header-title">Chat Box</div>
                        </div>
                        <!-- CHAT BOX -->
                        <div class="chatbox">
                            <!-- SHOW LIVE CHAT -->
                            <div class="chatbox__livechat">
                                <div class="chatbox__chat-item">
                                    <div class="chatbox__chat-item-name">TuanN</div>
                                    <div class="chatbox__chat-item-content">hello</div>
                                </div>
                                <div class="chatbox__chat-item">
                                    <div class="chatbox__chat-item-name">TuanN</div>
                                    <div class="chatbox__chat-item-content">hiiiiiiiiiiii
                                    </div>
                                </div>
                                <div class="chatbox__chat-item">
                                    <div class="chatbox__chat-item-name">TuanN</div>
                                    <div class="chatbox__chat-item-content">alo alo 1 2 3 4 5 6 7 8 9 10
                                    </div>
                                </div>
                                <div class="chatbox__chat-item">
                                    <div class="chatbox__chat-item-name">TuanN</div>
                                    <div class="chatbox__chat-item-content">aaaaaaaaaaaaaaaaaaaaaa
                                    aaaaaaaaaaaaaaaa
                                    aaaaaaaaaaaaaaa
                                aaaaaaaaaaaaaaa </div>
                                </div>
                            </div>
                            <!-- FOOTER CHAT -->
                        </div>
                    </div>
                </div>
                
                <div class="archive-video">
                    <div class="archive-video-list">
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/BwcPb9CCg0E/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">(FUNNY) ĐẠI TƯỚNG DEV NGUYỄN GẶP MẤY ANH BẮC HÀN</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/MKAcXqocQao/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">Mood</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/91bH5Qfm48g/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">(FUNNY) ĐẠI TƯỚNG DEV NGUYỄN GẶP MẤY ANH BẮC HÀN</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/P8ohv6LCjD0/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">(TALKSHOW) DEV MUA ĐIỆN THOẠI MỚI</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/3QqgsO1bPFw/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">Mood</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/PKpx9714Khw/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">(GTA V RP #68) GIANG HỒ CUTE</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/NDo0JMLxpho/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">(CSGO) DEV CÙNG NHỮNG CỰU PRO PLAYER</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                      <div class="stream-item" href="/view/watching-record.html">
                          <div class="stream-item__header" onclick="location.href='/view/watching-record.html'">
                              <img class="stream-item__img" src="http://img.youtube.com/vi/nO8PJYVh7io/maxresdefault.jpg"></img>
                              <div class="stream-item__coating"></div>
                              <i class="stream-item__play fas fa-play"></i>
                          </div>
                          <div class="stream-item__body">
                              <img src="https://yt3.ggpht.com/zX-YAmGvV2rRxtJqZ5OvaTomFG0sLx4weYAhUDFqjEipolTS92e4M4eY4UsjkEMjfa5VNhm8QQ=s176-c-k-c0x00ffffff-no-rj" 
                              alt="" class="stream-item__avatar">
                              <div class="stream-item__info">
                                  <div class="stream-item__content">HỒI SINH 1GUCCI COMEBACK</div>
                                  <div class="stream-item__name">15/12/2021</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
            </div>
        </div>
    </body>
</html>
