<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch</title>

    <link rel="stylesheet" href="../asset/css/base.css" />
    <link rel="stylesheet" href="../asset/css/watching.css" />
    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../asset/css/grid.css" />

  </head>
  <body>
    <div class="header">
      <a class="header__logo" href="index.html">
          <i class="fab fa-stripe-s"></i>
          <div class="header__logo-sub-title">Zone</div>
      </a>
      <div class="header__navbar">
          <a class="header__navbar-item active" href="/view/allstream/allstream.html">Danh sách phát</a>          
          <a class="header__navbar-item" href="/view/category/category.html">Danh mục</a>
          <a class="header__navbar-item" href="/view/event.html">Sự kiện</a>
      </div>
      <div class="header__search">
          <input type="text" placeholder="Search" class="header__search-input" />
          <!-- <button class="header__search-button style-btn-normal style-btn-hover"> -->
          <button class="header__search-button">
              <a href="/view/search/search-total.html">
                  <i class="fas fa-search"></i>
                  <!-- <img src="../images/search-solid.svg" alt="search" width="20px" /> -->
              </a>
          </button>
      </div>
      <div class="header__user">
          <button class="header__user-login-button style-btn-normal">
          Log in
          </button>
          <button class="header__user-signup-button style-btn-normal style-btn-hover">
              Sign up
          </button>
      </div>
  </div>
    <main>
      <div class="side-nav">
        <div class="side-nav__channel-list">
          <a href="./watching.html">
            <img src="https://yt3.ggpht.com/ytc/AKedOLTctGKJ32CdDLiSZ64JyktSvRZWMo6v7TTj5Gx_IA=s176-c-k-c0x00ffffff-no-rj" class="side-nav__channel-item" alt="">
          </a>
          <a href="./watching.html">
            <img src="https://yt3.ggpht.com/ytc/AKedOLTtJvQ1Vfew91vemeLaLdhjOwGx3tTBLlreK_QUyA=s176-c-k-c0x00ffffff-no-rj" class="side-nav__channel-item" alt="">
          </a>
          <a href="./watching.html">
            <img src="https://yt3.ggpht.com/ytc/AKedOLSwXJr4PIRyiBoky2qyOP0Z-6B8MgPRmo3OogSQ2A=s176-c-k-c0x00ffffff-no-rj" class="side-nav__channel-item" alt="">
          </a>
          <a href="./watching.html">
            <img src="https://yt3.ggpht.com/ytc/AKedOLRBxyT5Y9xKYWPmnShA_utGUvcJnxWaFmc0CtWTkg=s176-c-k-c0x00ffffff-no-rj" class="side-nav__channel-item" alt="">
          </a>
          <a href="./watching.html">
            <img src="https://yt3.ggpht.com/X3DxJQD4HAp-GK13pOoM0Si_dDMuE5zzYdYHeWyLjnL4MUSOorg8XMY33oeXO6P1m50JF_qJ=s176-c-k-c0x00ffffff-no-rj" class="side-nav__channel-item" alt="">
          </a>
        </div>
      </div>
      <div class="main">
        <div class="interact">
          <div class="interact__title">
            <img src="https://yt3.ggpht.com/ytc/AKedOLRBxyT5Y9xKYWPmnShA_utGUvcJnxWaFmc0CtWTkg=s176-c-k-c0x00ffffff-no-rj" class="interact__avatar">
            <div class="title-container">
              <div class="title-container__above">
                <span>lofi hip hop radio - beats to relax/study</span>
                <div class="action">
                  <button class="title__button title__button-heart">
                    <img src="../images/heart-solid.svg" alt="" />
                  </button>
                  <button class="title__button title__button-bell">
                    <img src="../images/bell-regular.svg" alt="" />
                  </button>
                </div>
              </div>
              <div class="title-container__below">
                <span>Lofi Girl</span>
                <div class="follower">
                  <span>67,546</span>
                  <span
                    ><img src="../images/users-solid.svg" width="15px"
                  /></span>
                </div>
                <div class="viewer">
                  <span>12,345</span>
                  <span
                    ><img src="../images/eye-solid.svg" width="15px"
                  /></span>
                </div>
              </div>
            </div>
          </div>
          <div class="main__live-player">
            <div class="video-container">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/5qap5aO4i9A"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="donate">
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/981B9925CF1EDB044B319A345C49EB4D_c56a7e7e54e047e4c5e9b2339f5bf3e1.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/C18713556AE082A20C19BF4C374F4B2C_6c47e368c71fe0c35ec8320c2399e597.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/A2D0F65C5A385CBDE42AFF56781FE722_4a950fb1b30df74e9338b1a8ab6d290d.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/431665C78ADA40F57B4297C1366B1304_02c757d0ffc6ca4a17ea747c231c1b1f.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/nw/nms/images/entry-icon.62e36eac96d54eef06b83228c1e8d618.png/w80_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/nw/nms/images/lucky-gift-entry-icon@2x.1f76db5cadafd19314075ebf83d92c8e.png/w80_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/A337AAB23B44C19A93262A395D4E43D1_6666bc32341434baf0414f8b88c12e91.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/642D6111F69001FC491CB6B6AD7D41C5_39af331c9435fd6da5fb0565f0d7aff6.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/282BE7BCB1124F384761418BBA6468FE_87505ebfc7f61663ac13fd650c9e9e91.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/681FD173A69E11A77F0E86D9D10929F8_0757226e64e07c76c2d2fdb618a7d3d6.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/AA6388CCBDA3A998AF1B665E111ECEFB_b30aef68314c013f4200d94e88e27944.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/93B641EBCCB793F777BE307CD153E84A_27cd45db0ad5cb8322d0f41bfd9c0c7b.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/FA597EF37EC3FCAE511151B7B05233FB_2d62181f8873f024be8052b67f870cbe.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/8A33148E8BD2FD0FF4227CA3482E8878_2f6f359833d4ce0a1aa9675d44190c77.png/w70_l0/img.png" width="40px">
            </div>
            <div class="donate__item">
              <img src="https://img.nimo.tv/o/gift/9BFDDEA4EE8F246017C9E80E19E90B45_f8f94939a91ef7a9be6a16dc989722a4.png/w70_l0/img.png" width="40px">
            </div>
          </div>
        </div>
        <div class="main__chat-channel">
          <!-- HEADER CHAT BOX -->
          <div class="chat__header frames">
            <div class="chat__header-title">Chat Box</div>
          </div>
          <!-- CHAT BOX -->
          <div class="chatbox">
              <!-- SHOW LIVE CHAT -->
              <div class="chatbox__livechat">
                  <div class="chatbox__chat-item">
                      <div class="chatbox__chat-item-name">TuanN</div>
                      <div class="chatbox__chat-item-content">hello</div>
                  </div>
                  <div class="chatbox__chat-item">
                      <div class="chatbox__chat-item-name">TuanN</div>
                      <div class="chatbox__chat-item-content">hiiiiiiiiiiii
                      </div>
                  </div>
                  <div class="chatbox__chat-item">
                      <div class="chatbox__chat-item-name">TuanN</div>
                      <div class="chatbox__chat-item-content">alo alo 1 2 3 4 5 6 7 8 9 10
                      </div>
                  </div>
                  <div class="chatbox__chat-item">
                      <div class="chatbox__chat-item-name">TuanN</div>
                      <div class="chatbox__chat-item-content">aaaaaaaaaaaaaaaaaaaaaa
                      aaaaaaaaaaaaaaaa
                      aaaaaaaaaaaaaaa
                  aaaaaaaaaaaaaaa </div>
                  </div>
              </div>
              <!-- FOOTER CHAT -->
              <div class="chatbox__footer">
                  <!-- INFOMATION USER -->
                  <div class="chatbox__user">
                      Dat09
                  </div>
                  <!-- ENTER CHAT -->
                  <div class="chatbox__enter">
                      <input class="chatbox__enter-input" placeholder="Nói gì đó..."></input>
                      <button class="chatbox__enter-send">Gửi</>
                  </div>
              </div>
          </div>
        </div>
        <div class="archive-video">
          <div class="archive-video-list">
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
            <div class="stream-item">
              <div class="stream-item__header">
                  <img class="stream-item__img" src="https://i.ytimg.com/vi/7h6baPjiTBk/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLBy_heNI0Ur6OTAuNwUNyW9bc8xag"></img>
                  <div class="stream-item__coating"></div>
                  <i class="stream-item__play fas fa-play"></i>
              </div>
              <div class="stream-item__body">
                  <img src="https://yt3.ggpht.com/rjoh3lshkAiKegUcmzPNVD0OdxYm_uUusUXN5lxEnEoWZyfzpzbwhU7yKN6wr_ZcukKvorXeOQ=s88-c-k-c0x00ffffff-no-rj" 
                  alt="" class="stream-item__avatar">
                  <div class="stream-item__info">
                      <div class="stream-item__content">Mood</div>
                      <div class="stream-item__name">15/12/2021</div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
