<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Watch</title>

    <link rel="stylesheet" href="../asset/css/base.css" />
    <link rel="stylesheet" href="../asset/css/watching.css" />
  </head>
  <body>
    <nav class="header">
      <a href="index.html">
        <div class="header__logo"></div>
      </a>
      <div class="header__events-and-tournaments">
        <a href="./event.html">Sự kiện</a>
        <a href="#">Tất cả</a>
      </div>
      <div class="header__search">
        <input type="text" placeholder="Search" class="header__search-input" />
        <button class="header__search-button style-btn-normal style-btn-hover">
          <a href="search-total.html">
            <img src="../images/search-solid.svg" alt="search" width="20px" />
          </a>
        </button>
      </div>
      <div class="header__user">
        <a href="./login.html">
          <button class="header__user-login-button style-btn-normal">
            Log in
          </button>
        </a>
        <a href="./sign-up.html">
          <button
            class="header__user-signup-button style-btn-normal style-btn-hover"
          >
            Sign up
          </button>
        </a>
      </div>
    </nav>
    <main>
      <div class="side-nav">
        <div class="side-nav__channel-list">
          <a href="watching.html">
            <div class="side-nav__channel-item"></div>
          </a>
          <a href="watching.html">
            <div class="side-nav__channel-item"></div>
          </a>
          <a href="watching.html">
            <div class="side-nav__channel-item"></div>
          </a>
          <a href="watching.html">
            <div class="side-nav__channel-item"></div>
          </a>
          <a href="watching.html">
            <div class="side-nav__channel-item"></div>
          </a>
        </div>
      </div>
      <div class="main">
        <div class="interact">
          <div class="interact__title">
            <div class="interact__avatar">
              <a href=""></a>
            </div>
            <div class="title-container">
              <div class="title-container__above">
                <span>Tiêu đề video</span>
                <div class="action">
                  <button class="title__button title__button-heart">
                    <img src="../images/heart-solid.svg" alt="" />
                  </button>
                  <button class="title__button title__button-bell">
                    <img src="../images/bell-regular.svg" alt="" />
                  </button>
                </div>
              </div>
              <div class="title-container__below">
                <span>Tên streamer</span>
                <div class="follower">
                  <span>67,546</span>
                  <span
                    ><img src="../images/users-solid.svg" width="15px"
                  /></span>
                </div>
                <div class="viewer">
                  <span>12,345</span>
                  <span
                    ><img src="../images/eye-solid.svg" width="15px"
                  /></span>
                </div>
              </div>
            </div>
          </div>
          <div class="main__live-player">
            <div class="video-container">
              <iframe
                width="100%"
                height="100%"
                src="https://www.youtube.com/embed/5qap5aO4i9A"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
          <div class="donate">
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
            <div class="donate__item">
              <img src="../images/donate-item.png" width="50px">
            </div>
          </div>
        </div>
        <div class="main__chat-channel">
          <div class="chat-container">
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
