<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../asset/font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="../../asset/font/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../../asset/css/base.css">
    <link rel="stylesheet" href="../../asset/css/set-up-stream.css">
    <link rel="stylesheet" href="../../asset/css/grid.css"> 
    
    <title>Document</title>
</head>
<body>
    <div class="app">
        <div class="grid wide">
            <div class="item__header frames">
                <div class="item__header-url">
                    <div class="item__header-url-title">Liên kết của bạn: </div>
                    <a class="item__header-url-link" href=""> https://www.streamzone.tv/live/5299188</a>
                </div>
                <div class="item__header-info">
                    <div class="item__header-info-item">
                        <div class="item__header-info-number">1003</div>
                        <div class="item__header-info-topic">Lượt xem</div>
                    </div>
                    <div class="item__header-info-item">
                        <div class="item__header-info-number">50</div>
                        <div class="item__header-info-topic">Quà</div>
                    </div>
                    <div class="item__header-info-item">
                        <div class="item__header-info-number">69</div>
                        <div class="item__header-info-topic">Người theo dõi mới</div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="video">
                    <div class="video__header frames">
                        <div class="video__header-title">Live của tôi</div>
                        <div class="video__header-view">
                            <i class="far fa-eye video__header-icon"></i>
                            <div class="video__header-number">
                                13.8997
                            </div>
                        </div>  
                        
                    </div>
                    <div class="video__body">
                        <!-- <div class="video__body-video">

                        </div> -->
                        <div class="video__body-message">Mở OBS để bắt đầu phát trực tiếp</div>
                        <div class="video__body-toolbar">
                            <div class="video__body-toolbar-left">
                                <i class="fas fa-play"></i>
                            </div>
                            <div class="video__body-toolbar-right">
                                <i class="fas fa-volume-mute toolbar-item"></i>
                                <input id="progress" class="progress toolbar-item" type="range" value="0" step="1" min="0" max="100">
                                <i class="fas fa-expand-alt toolbar-item"></i>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="video__footer frames">

                    </div> -->
                </div>
                <div class="chat">
                    <div class="chat__header frames">
                        <div class="chat__header-title">Chat của tôi</div>
                    </div>
                    <div class="chatbox">
                        <div class="chatbox__livechat">
                            <div class="chatbox__chat-item">
                                <div class="chatbox__chat-item-name">TuanN</div>
                                <div class="chatbox__chat-item-content">hello</div>
                            </div>
                            <div class="chatbox__chat-item">
                                <div class="chatbox__chat-item-name">TuanN</div>
                                <div class="chatbox__chat-item-content">hiiiiiiiiiiii
                                </div>
                            </div>
                            <div class="chatbox__chat-item">
                                <div class="chatbox__chat-item-name">TuanN</div>
                                <div class="chatbox__chat-item-content">alo alo 1 2 3 4 5 6 7 8 9 10
                                </div>
                            </div>
                            <div class="chatbox__chat-item">
                                <div class="chatbox__chat-item-name">TuanN</div>
                                <div class="chatbox__chat-item-content">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                                    aaaaaaaaaaaaaaaa
                                    aaaaaaaaaaaaaaa
                                    aaaaaaaaaaaaaaa </div>
                            </div>
                        </div>
                        <div class="chatbox__footer">
                            <!-- INFOMATION USER -->
                            <!-- <div class="chatbox__user">
                                Dat09
                            </div> -->
                            <!-- ENTER CHAT -->
                            <div class="chatbox__enter">
                                <input class="chatbox__enter-input" placeholder="Nói gì đó..."></input>
                                <button class="chatbox__enter-send">Gửi</>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="setting">
                <div class="frames setting__header">
                    <div class="setting__header-title">Thông tin live</div>
                </div>
                <div class="setting__content">
                    <div class="setting__content-general">
                        <form>
                            <div class="form-group">
                                <label for="">Mã sự kiện trực tiếp</label>
                                <input type="password" class="form-control" id="" placeholder="Mã sự kiện trực tiếp" value="213131231231231">
                            </div>
                            <div class="form-group">
                                <label for="">URL sự kiện trực tiếp</label>
                                <div class="form-content">
                                    <input type="text" class="form-control" id="" aria-describedby="textHelp" placeholder="URL sự kiện trực tiếp"
                                        value="https://www.streamzone.tv/live/5299188">
                                    <button type="button" class="form-btn">Sao chép</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">URL của máy chủ sao lưu</label>
                                <div class="form-content">
                                    <input type="text" class="form-control" id="" aria-describedby="textHelp" placeholder="URL sự kiện trực tiếp"
                                        value="rtmp://b.rtmp.streamzone.tv/live2?backup=1">
                                    <button type="button" class="form-btn">Sao chép</button>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label for="">Độ trễ</label>
                                <select class="form-control" id="">
                                    <option value="0">--Độ trễ--</option>
                                    <option value="1">Thấp</option>
                                    <option value="3">Rất Thấp</option>
                                    <option value="2" selected>Bình thường</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class="setting__content-sub-info">
                        <form>
                            <div class="form-group">
                                <label for="">Tiêu đề sự kiện trực tiếp</label>
                                <input type="text" class="form-control" id="" placeholder="Tiêu đề sự kiện trực tiếp"
                                value="Live Valorant 20/12/2021">
                            </div>
                            <div class="form-group">
                                <label for="">Danh mục</label>
                                <select class="form-control" id="" >
                                    <option value="0">--Danh mục--</option>
                                    <option value="1" selected>Game</option>
                                    <option value="2">Music</option>
                                    <option value="3">Chill</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Quyền riêng tư</label>
                                <select class="form-control" id="">
                                    <option value="0">-- Quyền riêng tư --</option>
                                    <option value="1" selected>Công khai</option>
                                    <option value="3">Không công khai</option>
                                    <option value="2">Riêng tư</option>
                                </select>
                            </div>
                            <button type="button" class="btn-save">Lưu thay đổi</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>